<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta charset="utf-8" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <title>Interactive Statistical Demonstrations and Tutorials</title>
        <link rel="stylesheet" href="statpages.css">

    </head>

<body>
<div ng-app="myApp" ng-controller="customersCtrl">

<table align="center" bgcolor="#ddddff" border="solid black" cellpadding="5" cellspacing="0">
    <caption>
          <font color="#804000">Sections of the <i>StatPages.net</i> web site</font>
    </caption>
    <tr>
        <td  ng-repeat="x in names">
            <div ng-if="x.Tag != 'Demos'">
                <a href="{{ x.Link }}"> {{ x.Name }} </a>
            </div>
            <div ng-if="x.Tag == 'Demos'" style="color: grey;">
                 {{ x.Name }}
            </div>
        </td>
    </tr>
</table>

</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function($scope, $http) {
        $http.get("choices.php")
        .then(function (response) {$scope.names = response.data.records;});
    });
</script>



<h2 align="center"> <font color="Red">Interactive
Statistical Demonstrations and Tutorials</font>
</h2>




<p align="center">
(Updated: 12-10-2015&nbsp; -- Link to&nbsp;<a href="//www.varsitytutors.com/practice-tests" target="_blank">Varsity Learning Tools</a> web site.)<br>




</p>




<table style="background-color: rgb(255, 255, 224); width: 90%; text-align: left; margin-left: auto; margin-right: auto;" border="1" cellpadding="2" cellspacing="2">




  <tbody>




    <tr>




      <td><a href="//precisionconsultingcompany.com/statistical-consulting.shtml" target="_blank"><span style="font-weight: bold;">Precision
Consulting</span></a>
-- Statistical consulting firm specializing in applying advanced
modeling and big data techniques to real world problems. Past clients
include Fortune 500 corporations as well as universities and
academics.&nbsp; If you run into statistical problems, they may be
able
to help.</td>




    </tr>




  
  
  
  </tbody>
</table>




<h3>Demonstrations and Tutorials...</h3>




<ul>
  <li><a href="//www.mometrix.com/academy/" target="_blank">Mometrix Academy</a>
-&nbsp;a set of free videos to help you prepare for various kinds of
standardized tests (ACT, GED, GRE, SAT, LSAT, MCAT, and others), and to
improve your general knowledge in various areas (business &amp;
finance, English, health &amp; fitness, humanities, mathematics,
medical, science, and teaching). These videos are presented as a public
service of&nbsp; <a href="//www.mo-media.com/" target="_blank">Mometrix, The World&#8217;s Most Comprehensive Test Preparation Company&#8482;</a>.
The main purpose of this site is to offer free, practical test-taking
advice. If you like the content of these videos and you're taking a
test in the near future, you may want to look at their more
comprehensive study resources at the <a href="//www.mo-media.com/" target="_blank">Mometrix Home Page</a>.</li>

  <li><a href="//www.varsitytutors.com/practice-tests" target="_blank">Varsity Learning Tools</a>
-- contains over 100,000 professionally written problems and thousands
of distinct practice tests across 150 subjects (e.g.:&nbsp; foreign
languages, history, math, and all levels of science). Also has
thousands of practice tests and problems for Common Core and
standardized tests like the ACT, SAT, GRE, GMAT, LSAT, MCAT, ISEE, and
SSAT. Each question is tied to a specific academic concept, which means
that students can pinpoint their particular strengths and weaknesses in
almost any area. The platform also includes free web-based <a href="//www.varsitytutors.com/classroom-assessment" target="_blank">classroom assessment software</a>.<br>

Varsity Learning Tools also has 41 <a href="//www.varsitytutors.com/apps" target="_blank">subject specific mobile apps</a> for on-the-go studying, with all of the same free academic content in a convenient and user-friendly interface. The <a href="//www.varsitytutors.com" target="_blank">Varsity main web page</a> provides a referral service to paid tutors.</li>


  <li><a href="//blog.udemy.com/matlab-tutorial/" target="_blank">MATLAB tutorial</a>
-- covers setting it up, &nbsp;interactive mode and script files,
writing Matlab code (variables, arrays and matrices, control flow and
classes), and sample applications.</li>



  <li><a href="//www.dkstatisticalconsulting.com/statistics-resources/">David
Kremelberg's statistical resources page</a> -- contains resources
for statistics students, including information and free downloadable
Excel templates for Pearson's r, Chi-Square, t-tests, and ANOVA. These
templates calculate these statistical tests step-by-step, allowing
students who need to calculate these tests by hand to check their work.</li>



  <li>Peter Rosenmai's <a href="//eurekastatistics.com/" target="_blank">EurekaStatistics</a> web site (a blog about statistics and R).</li>




  <li><a href="//www.cprogramming.tk">C
Programming Tutorial</a>
-- A set of short tutorial taking you through the process of creating C
programs, from the simplest "Hello World" application, to more complex
programs using variables and expressions, input and output,
if/then/else and while constructs, and arrays.</li>



  <li>Two HTML5 web pages by &nbsp;Robert Mening:</li>



  
  
  
  <ul>



    <li><a href="websitesetup.org/html5-beginners-guide/" target="_blank">Beginner's guide to HTML<sub>5</sub></a> - Includes a handy "HTML<sub>5</sub> Cheat Sheet".<br>



2) <a href="websitesetup.org/html5-periodical-table/" target="_blank">HTML<sub>5</sub> Periodic Table</a> - a clever interactive reference to the components of HTML<sub>5</sub>.</li>



  
  
  
  </ul>




  <li> <a href="//statistics.berkeley.edu/%7Estark/SticiGui">SticiGui</a>
(pronounced "sticky-gooey") -- an excellent interactive online
textbook/tutorial that was designed for a "first and last" Statistics
class for Business, Social Science, or liberal arts. In other words,
this site&nbsp;contains the knowledge you'd want to get if you were
going to take only one stats course in your whole life. So it's <b>not</b>
geared toward theory, numerical analysis, sophisticated formulas, or
big collections of specialized tests or probability distributions.
Instead, it helps you think logically about quantitative evidence and
to translate real-world situations into mathematical questions; it
shows you a few important statistical and probabilistic concepts and
some of the difficulties, subjective decisions, and pitfalls, in
analyzing data and making inferences from numbers. The text develops
probability, estimation, and inference using counting arguments: there
is no calculus involved. The web site's creator (a Statistics professor
at U.C. Berkely) hopes that people who study these materials will:
    
    
    
    <ul>




      <li> Read the newspaper with new eyes: become skilled,
circumspect consumers of qualitative and quantitative information. </li>




      <li> Know that probability in particular, and numbers in
general, can be used to model some features of the physical world and
human behavior. </li>




      <li> Improve their skills in critical thinking and logical
reasoning. </li>




      <li> Appreciate the role Statistics plays in many fields,
from business to economics, law, politics, science and medicine. </li>




      <li> Know that data can be manipulated to tell many
inconsistent stories, that data analysis is not clear cut, and that
many subjective judgments are involved in analyzing real data. </li>




      <li> Know important questions to ask when faced with a
quantitative argument&#8212;be able to analyze arguments and find their
strengths and weaknesses. </li>




      <li> Understand that untutored intuition tends to produce
faulty probability judgments and know how to reason about probability. </li>




      <li> Appreciate some of the philosophical difficulties in
ascribing meaning to probability and in inferring causal relationships
from data. </li>




      <li> Be prepared for more advanced courses in
Statistics&#8212;even though they might not take any. </li>




    
    
    
    </ul>




  </li>




  <li> <a href="//home.ubalt.edu/ntsbarsh/">Dr.
Hossein Arsham's Remarkable Web Site</a> (University of
Baltimore) -- A <b>very</b> large and <b>very</b>
impressive collection of online courses, tutorials, and related
resources for a wide variety of subjects related to:
    
    
    
    <ul>




      <li> <b>Statistical Data Analysis for Managerial
Decisions</b>, with Excel For Introductory Statistical Analysis </li>




      <li> <b>Business Statistics for Managerial Decision
Making</b>, with Excel for Business Statistics </li>




      <li> <b>Science of Making Good Strategic Decisions</b>,
with Success Science, Leadership Decision Making, Tools for Decision
Analysis, Time-Critical Decision Making for Economics and Finance,
Zero-Sum Games with Applications, Decision Science Resources, A
Collection of Keywords and Phrases </li>




      <li> <b>Goal-seeking and Optimal Strategic Modeling
and Solution Algorithms</b>, with Linear Programming (LP) and
Goal-Seeking Strategy, Integer Optimization and the Network Models,
Artificial-variable Free LP Solution Algorithms, Tools for LP Modeling
Validation, The Classical Simplex Method, Linear Algebra and LP
Connections, From Linear to Nonlinear Optimization: The Missing
Chapter, Construction of the Sensitivity Region for LP Models,
Optimization with Sensitivity Analysis Resources </li>




      <li> <b>Modeling and Simulation for Systems
Analysis, Design and Control</b>, with System Simulation, ,
Modeling and Simulation Resources </li>




      <li> <b>Statistical Concepts and Tools for Data
Analysis</b>, with Questionnaire Design and Surveys Sampling,
Topics in Statistical Data Analysis, Computational Statistics,
Probability and Statistics Resources </li>




      <li> <b>Online Courses</b>: Business
Statistics, Decision Science/Management Science/Operations Research. </li>




      <li> <b>Instructional and Training Resources</b>:
Zero Sagas in Four Dimensions, Impact of the Internet on Learning
&amp; Teaching <a href="//home.ubalt.edu/ntsbarsh/Business-stat/opre504.htm">Business
Statistics: Revealing Facts From Figures</a> -- A comprehensive
online business statistics course! &nbsp;The main part of the
course consists of one very long web page covering: Introduction,
Towards Statistical Thinking, Probability for Statistical Inference,
Topics in Business Statistics, and Interesting and Useful Sites. This
page also links to six companion sites: Time Series Analysis and
Forecasting Techniques, Companion site II: Computers and Computational
Statistics, Companion site III: Questionnaire Design and Surveys
Sampling, Companion site IV: Probabilistic Modeling Process: Calculable
Risky Decision-Making, Companion site V: Excel For Introductory
Statistical Analysis, and Companion site VI: Statistical Books List </li>




    
    
    
    </ul>




  </li>




  <li> <a href="//wise.cgu.edu/">WISE</a>
(from Claremont Graduate University) -- a wide range of resources that
are freely available on the Internet. Contains a sequence of
interactive tutorials on key statistical concepts (sampling
distributions, the central limit theorem, hypothesis testing, and
statistical power). The tutorials use dynamic applets that allow the
user to explore relationships on their own. Guided exercises are
designed to help the learner to take full advantage of the applets to
gain a deeper understanding of the concepts and logic that underlie
much of inferential statistics. </li>




  <li> <a href="//www.statisticallysignificantconsulting.com/Statistics101.htm">Statistics
101 in Plain English</a> -- a set of tutorials that describe the
basic concepts of statistical inference, and also cover common
statistical analyses (t-test, ANOVA, correlation), power/sample-size
analysis, and SPSS help. This web site is maintained by a statistical
consultant, who offers research/thesis help to doctoral students and
researchers, on a fee basis. </li>




  <li> <a href="//www.learner.org/resources/series65.html">Against
All Odds: Inside Statistics</a> -- A video instructional series
(26 half-hour video programs) on statistics. With an emphasis on
&amp;ldquo;doing&amp;rdquo; statistics, this series goes on
location to help uncover statistical solutions to the puzzles of
everyday life. Learn how data collection and manipulation
&amp;mdash; paired with intelligent judgement and common sense
&amp;mdash; can lead to more informed decision-making. This series
can also be used as a resource for teacher professional development. </li>




  <li> <a href="//visualcplus.blogspot.com/">C++
Maniac</a> -- A set of short lessons that will teach you the
basics of Visual C Plus. Chapters currently written include number
systems, IEEE floating-point standards, data types and casting,
operators and integer operations, character variables, assigning,
comparison, IF conditions, conditional and logical operators. And new
chapters are being added at a rapid pace. </li>




  <li> <a href="//www.learner.org/resources/series158.html">Learning
Math: Data Analysis, Statistics and Probability</a> -- A video-
and Web-based course on basic concepts of statistics for K-8 teachers.
Has 9 half-hour and 1 one-hour video programs, course guide, and Web
site; graduate credit available. Organized around the content standards
of the National Council of Teachers of Mathematics (NCTM). Introduces
statistics as a problem-solving process. Presents statistical concepts,
such as data representation, variation, the mean and median, bivariate
data, probability, designing statistical experiments, and population
estimations. Has case studies, divided into grade bands for K-2, 3-5,
and 6-8 teachers. Consists of 10 two-and-a-half hour sessions, each
with a half-hour of video programming, problem-solving activities
available in print and on the Web, interactive activities and
demonstrations on the Web, and questions for class discussion or
individual reflection. </li>




  <li> <a href="//www.stat.berkeley.edu/%7Estark/SticiGui/">StickiGui</a>
-- a well-organized and comprehensive <b>interactive online
statistics course</b>, by Berkely professor Philip Stark, with
chapters on: Tables, Percentiles, Histograms; Measures of Location and
Spread; Multivariate Data; Association and Correlation; Regression;
Errors in Regression; Counting; Probability:Philosophy and Mathematical
Background; Probability: Axioms and Fundaments; "Let's Make a Deal" -
Subtleties of Conditional Probability; Probability Meets Data; Random
Variables and Discrete Distributions; The Long Run and Expected Value;
Standard Error; The Normal Curve, the Central Limit Theorem, and
Markov's and Chebychev's inequalities for random variables; Sample
Surveys and Sampling Designs; Estimating Parameters from Simple Random
Samples; Confidence Intervals; Hypothesis testing: does chance explain
the results?; Does Treatment Have an Effect?; Testing Equality of Two
Percentages; Approximate Hypothesis Tests: the z test and the t test;
Multinomial models for categorical data and the chi-square test for
goodness of fit; and A Case Study in Natural Resource Legislation. Also
includes a collection of <b>16 online calculators and
demonstrations</b>: Binomial Histogram, Calculator, Chi-square
distribution, Controlling for variables, Confidence Intervals,
Correlation and Regression, Histogram, Law of Large Numbers, Normal
Approximation to Data , Normal Curve, Normal Probabilities, Probability
Calculator, Sampling Distributions, Scatterplots, Student's t
Distribution, and Venn Diagrams (2 subsets, 3 subsets). </li>




  <li> <a href="//www.statisticssolutions.com/">StatisticsSolutions</a>
- a company specializing in statistical consulting and analysis
services for graduate students working on their dissertations. Their
web site also provides a collection of <a href="//www.statisticssolutions.com/Tips_Resources.htm">statistics-related
tips, tutorials and other resources</a>.</li>



  <li><a href="//www.johndcook.com/Beautiful_Testing_ch10.pdf" target="_blank">How to Test a Random Number Generator</a> -- a chapter from the book Beautiful Testing, by John D. Cook.</li>




  <li> <a href="//www.economics.pomona.edu/StatSite/Statgame.html">StatGames</a>
-- 20 games&amp;mdash;or challenges&amp;mdash;that will help
you test and refine your statistical thinking. Not a substitute for a
statistics course, but may give you an enjoyable opportunity to develop
your statistical reasoning. </li>




  <li> <a href="//www.mcguire-spickard.com/software/Software.htm">Choosing
Neighbors</a> -- implements Thomas Schelling's mathematical model
of residential segregation. "REDs" and "GREENs" live in the same
neighborhood. You get to chose how many of each live there, and you get
to choose the minimum number of like-color neighbors each wants. (Many
people like living in integrated neighborhoods, but most don't want to
be the only one of their color there.) The program lets people move
around the neighborhood until their wishes are met. See what happens
when non-racists just don't want to be alone. </li>




  <li> <a href="//www.mcguire-spickard.com/software/TUTOR10.ZIP">Statistical
Chart Tutor</a> -- helps students learn to read statistical
tables: distributions, scatterplots, regressions, and cross-tabulations
(the last with and without control variables). </li>




  <li> <a href="//www.economics.pomona.edu/StatSite/Quiz.html">StatQuiz</a>
-- contains hundreds of multiple-choice questions that will help you
test and develop your statistical reasoning. The questions are
organized into 10 categories (corresponding to the chapters in this
statistics textbook: Introduction to Statistical Reasoning,
WCB/McGraw-Hill, 1998 ). After you answer each question, you will see a
brief explanation of why your selected answer is correct or incorrect. </li>




  <li> <a href="//www.kuleuven.ac.be/ucs/java/">VESTAC</a>
-- a large collection of Java applets for visualizing statistical
concepts (regression, ANOVA, hypothesis tests, all kinds of
distributions...) developed at the Catholic University of Leuven in
Belgium. </li>




  <li> <a href="//www.texasoft.com/tutindex.html">Statistics
Tutorials</a> that briefly explain the use and interpretation of
standard statistical analysis techniques, using the <i>WINKS</i>
program from <a href="//www.texasoft.com">TexaSoft</a>.<br>




Tutorials include:
    
    
    
    <ul>




      <li> <a href="//www.texasoft.com/tutor1.html">Descriptive
Statistics Program</a> </li>




      <li> <a href="//www.texasoft.com/winkpear.html">Pearson's
Correlation Coefficient</a> </li>




      <li> <a href="//www.texasoft.com/winkslr.html">Simple
Linear Regression</a> </li>




      <li> <a href="//www.texasoft.com/winksst.html">Single
Sample t-test</a> </li>




      <li> <a href="//www.texasoft.com/winktest.html">Independent
Group t-test</a> </li>




      <li> <a href="//www.texasoft.com/winkanov.html">Independent
Group Analysis of Variance (One-way ANOVA)</a> </li>




      <li> <a href="//www.texasoft.com/winkpair.html">Paired
t-test</a> </li>




      <li> <a href="//www.texasoft.com/winkmann.html">Mann-Whitney
Test (2-group non-parametric comparison)</a> </li>




      <li> <a href="//www.texasoft.com/winkkrus.html">Kruskal-Wallis
Test (3 or more group non-parametric comparison)</a> </li>




      <li> <a href="//www.texasoft.com/winkfrie.html">Friedman's
Test (Non-parametric repeated measures comparisons)</a> </li>




      <li> <a href="//www.texasoft.com/pvalue.html">Interpreting
p-values</a> </li>




    
    
    
    </ul>




  </li>




  <li> <a href="//www-stat.stanford.edu/%7Esusan/surprise/">Probability
by Surprise</a> -- A set of interactive applets: The Birthday
Problem, Say Red, The Collector, Banach's Matchbox Problem, The
Matching Problem, The IID Sequence, Polya's Urn as a restaurant choice,
Random Scatter, Traffic jams, Visualizing Probabilities, Building a
Probability Tree, Two-dimensional densities with Conditional
Probabilities. Also contains class notes for the <i>Introduction
to Probability</i> class currently taught at Stanford using
these, and other web-resources. </li>




  <li> Interactive <a href="//www.ruf.rice.edu/%7Elane/stat_sim/index.html">Simulations
and Demonstrations</a> from the creator of the <a href="//davidmlane.com/hyperstat">HyperStat Online</a>
statistics book. More than a dozen applets; most require version 4
browsers with <font color="Red">(Java 1.1)</font>.
Includes: Mean and Median; Sampling Distribution Simulation; Confidence
Intervals; Normal Approximation to the Binomial Distribution;
Confidence Interval on a Proportion; Components of r; Regression by
Eye; Restriction of Range; Repeated Measures; A "Small" Effect Size Can
Make a Large Difference; Chi Square Test of Deviations from Expected
Frequencies; 2 x 2 Contingency Tables; Reliability and Regression
Analysis; and Histograms, Bin Widths, and Cross Validation. </li>




  <li> <a href="//www.seeingstatistics.com/">Seeing
Statistics</a> by Gary McClelland -- an online textbook
containing many animated (Java) demonstrations. A tour, and part of the
complete book, is available free. </li>




  <li> A set of <a href="//www.autobox.com/">online
tutorials about forecasting, time series, and ARIMA models</a>,
from AutoBox. </li>




  <li> <a href="//hepg.awl.com/weiss/i_iprojects/">Internet
Projects</a> to accompany Weiss's <i>Introductory
Statistics</i> textbook. For each of the 15 chapters in the book,
this website contains a set of pages with a relevant real-world
example. The pages contain background material, datasets, guides to
analysis (often using the calculating pages listed right here in the <i>Interactive
Statistics Pages</i>), and links to other reference material on
the Internet. </li>




  <li> <a href="//ericae.net/scripts/cat">An
On-line, Interactive, Computer Adaptive Testing Mini-Tutorial</a>
-- When an examinee is administered a test via computer, the computer
can update the estimate of the examinee's ability after each item and
then that ability estimate can be used in the selection of subsequent
items. With the right item bank and a high examinee ability variance,
CAT can be much more efficient than a traditional paper-and-pencil
test. This excellent tutorial lets you learn the logic of CAT and see
the calculations that go on behind the scenes. You can play with an
actual CAT (items and correct answers provided); try different
scenarios and see what happens;pretend you are a high ability, average
or low ability examinee; intentionally miss easy items; and get items
right that should be very hard for you. </li>




  <li> <a href="//xerxes.sph.umich.edu:2000/cgi-bin/cgi-tcl-examples/generic/SA/SA.cgi">Spatial
Autocorrelation game</a> -- given an initial random assortment of
integers which fill a , rearrange them to alter the spatial
autocorrelation to maximize it, minimize it, or even to drive it to
zero. </li>




  <li> <a href="//www.vgupta.com/Products/spss.html">Interactive
JavaScript quizes on using SPSS and interpretation of results</a>.
Also contains other SPSS-related resources. </li>




  <li> <a href="//194.83.161.188/sobol/survey5/index.htm">An
excellent demonstration of the use of the Chi Square test for analyzing
contingency tables</a>. Using one of several pre-loaded sample
datasets, you specify the variables to be cross-tabbed; the program
then generates a detailed analysis, from which you can interactively
explore the effects of merging rows and/or columns in the table. </li>




  <li> <a href="//www.users.on.net/zhcchz/java/quincunx/quincunx.1.html">A
set of demonstrations using the Quincunx to illustrate the Central
Limit Theorem</a> <font color="Red">(Java)</font>
  </li>




  <li> <a href="//www.math.csusb.edu/faculty/stanton/m262/probstat.html">Java
Demos for Probability and Statistics</a> <font color="Red">(Java)</font>
  </li>




  <li> <a href="//www.ms.uky.edu/%7Emai/java/AppletIndex.html">Five
demonstrations</a> of how samples of increasing size approach a
theoretical distribution: <a href="//www.ms.uky.edu/%7Emai/java/stat/EmpDis.html">Empirical</a>,
    <a href="//www.ms.uky.edu/%7Emai/java/stat/KapMei.html">Kaplan-Meier</a>,
    <a href="//www.ms.uky.edu/%7Emai/java/stat/NelAal.html">Nelson-Aalen</a>,
    <a href="//www.ms.uky.edu/%7Emai/java/stat/IntCen.html">Interval
censored</a> data, and <a href="//www.ms.uky.edu/%7Echen/NPMLEDC.html">Doubly-Censored
Data</a>. </li>




  <li> <a href="//www.ms.uky.edu/%7Emai/java/AppletIndex.html">Three
demonstrations</a> of famous random processes: <a href="//www.ms.uky.edu/%7Emai/java/stat/brmo.html">2-
and 1-dimensional Brownian motion</a>, <a href="//www.ms.uky.edu/%7Emai/java/stat/buff.html">Buffon
needle experiment</a>, and <a href="//www.ms.uky.edu/%7Emai/java/stat/GaltonMachine.html">Galton's
ball-drop "quincunx"</a>. </li>




  <li> <a href="//www.ms.uky.edu/%7Elancastr/java/javapage.html">Three
Bootstrap demonstrations</a>: <a href="//www.ms.uky.edu/%7Elancastr/java/cltexp.html">Central
Limit Theorem</a>, <a href="//www.ms.uky.edu/%7Elancastr/java/parabootexp.html">Parametric
bootstrap of sample mean</a>, and <a href="//www.ms.uky.edu/%7Elancastr/java/nonparabootexp.html">Nonparametric
bootstrap of sample mean</a>, all using the Exp(1) distribution. </li>




  <li> <a href="//www.tc.umn.edu/%7Edelma001/stat_tools/software.htm">Sampling
SIM</a>: Downloadable program (for Mac or Windows) to explore
sampling distributions of sample means and proportions. It provides
separate windows for building population distributions, drawing and
viewing random samples from the population, exploring the behavior of
sampling distributions of sample means, and exploring the behavior of
confidence intervals. </li>




  <li> <a href="//www-stat.stanford.edu/%7Enaras/jsm/NormalDensity/NormalDensity.html">Play
around with the Normal (Gaussian) distribution</a> </li>




  <li> <a href="//www.stat.uiuc.edu/%7Estat100/java/guess/PPApplet.html">Linear
regression / correlation demo</a> -- click a bunch of points onto
the screen; as you enter each one, the computer immediately computes
and displays an adjusted regression line (with equation and correlation
coefficient) <font color="Red">(Java)</font> </li>




  <li> <a href="//stat-www.berkeley.edu/users/stark/Java/Correlation.htm">Similar
to above, but lets you simulate points from distributions with known
correlation coefficient</a><font color="Red"> (Java)</font>
  </li>




  <li> <a href="//www.ruf.rice.edu/%7Elane/stat_sim/sampling_dist/sampling_demo.html">Simulation
of various sampling distributions</a><font color="Red">
(Java)</font> </li>




  <li> <a href="//www.stat.uiuc.edu/%7Estat100/java/box/BoxApplet.html">Simulation
of drawing objects (with replacement) from a "box" whose contents you
can define</a> <font color="Red">(Java)</font>
  </li>




  <li> <a href="//www.stat.sc.edu/%7Ewest/javahtml/epid.html">Simulate
the course of an epidemic</a> <font color="Red">(Java)</font>
  </li>




  <li> <a href="//huizen.dds.nl/%7Eberrie/">A
collection of QuickTime movies illustrating various statistical concepts</a>
  </li>




  <li> <a href="//members.aol.com/Trane64/java/CardPowersim.html">Monte-Carlo
p vs sample size simulation for survey questionnaire results</a>,
with graphical output <font color="Red">(Java)</font>
  </li>




  <li> <a href="//vflylab.calstatela.edu/edesktop/VirtApps/VflyLab/IntroVflyLab.html">Virtual
Fly Lab</a> -- simulate classic drosophila genetics experiments:
Specify the wing, hair, eye, antennae, etc. characteristics of a
hypothetical male and female fly; simulate the offspring of a mating;
select a pair of offspring to breed; simulate the offspring of <i>their</i>
mating; and compare the observed frequencies with those predicted from
Mendelian genetics. </li>




  <li> <a href="//kalamation.com/cord_trauma/">Neck
Trauma Bayesian Prognosticator Demo</a> <font color="Red">(Java)</font></li>



  <li><font color="Red"><span style="color: black;">An <a href="//www.chegg.com/homework-help/math" target="_blank">interactive homework-tutoring system</a>
for math (including algebra, geometry, trigonometry, calculus,
probability and statistics). A paid service, but there's a 7-day free
trial.</span><br>



    </font></li>




</ul>



<p> </p>




<hr>
<center> Return to <a href="JCPhome.html">John C.
Pezzullo's Home Page</a>, or send e-mail to <a href="mailto:statpages.org@gmail.com">statpages.org@gmail.com</a>
</center>




</body>
</html>
