<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>

        <meta charset="utf-8" />
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <title>About the Interactive Statistical Pages Web Site</title>
        <link rel="stylesheet" href="statpages.css">

    </head>

<body>
<div ng-app="myApp" ng-controller="customersCtrl">

<table align="center" bgcolor="#ddddff" border="solid black" cellpadding="5" cellspacing="0">
    <caption>
          <font color="#804000">Sections of the <i>StatPages.net</i> web site</font>
    </caption>
    <tr>
        <td  ng-repeat="x in names">
            <div ng-if="x.Tag != 'About'">
                <a href="{{ x.Link }}"> {{ x.Name }} </a>
            </div>
            <div ng-if="x.Tag == 'About'" style="color: grey;">
                 {{ x.Name }}
            </div>
        </td>
    </tr>
</table>

</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function($scope, $http) {
        $http.get("choices.php")
        .then(function (response) {$scope.names = response.data.records;});
    });
</script>

<h2 align="center"><font color="Red">About this Web Site</font></h2>

The <i><b>Interactive Statistical Pages</b></i> project represents an ongoing
effort to develop and disseminate statistical analysis software in the form
of web pages. Utilizing HTML forms, <i>CGI</i> and <i>Perl</i> scripts,
<i>Java</i>, <i>JavaScript</i> and other browser-based technologies, each
web page contains within it (or invokes) all the programming needed to perform
a particular computation or analysis.
<p>
These pages use various techniques to accomplish their magic:
</p><ul>
  <li>
    Some use <b>HTML forms</b> to send your data back to the web server, which
    runs CGI scripts to perform the computations and sends the results back to
    you as a new page. They should work on any browser that supports HTML forms.
  </li><li>
    Others, including all of my own <i>JavaStats</i> pages, use
    <i><b>JavaScript.</b></i> Each page contains within it all the programming
    needed to do the computations. These are flagged as
    <font color="Red">(JavaScript)</font>, and should run on any
    <i>JavaScript</i>-capable browser, such as Netscape v2 and above, or MS Internet
    Explorer v3 and above.
  </li><li>
    Still others invoke <b><i>Java</i> applets</b> to carry out the computations.
    They are flagged as <font color="Red">(Java)</font>, and require a Java-capable
    browser, such as Netscape v3 and above, or MS Internet Explorer v4 and above.
</li></ul>
<p>
These pages have been created by volunteers contributing their expertise
and efforts. They reside on computers all over the world, interlinked into
a comprehensive statistical analysis package that's freely accessible over
the Internet. It is a practical embodiment of the concept of distributed
software, and exemplifies the finest tradition and spirit of the Internet
-- people making their knowledge freely available worldwide.
</p><p>
Your contributions to this collection are most welcome. Please let me know
of any interactive statistical calculating pages you have created (or have
encountered on the Web) that aren't on this site, and I'll add links to them.
Or just send me your comments and suggestions for making this web site more
useful.
</p><center>
    <hr>
  <p>
  E-mail to <a href="mailto:statpages.org@gmail.com">statpages.org@gmail.com</a>
</p></center>
</body></html>