<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title>Links to Other Statistical Web Sites</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <link rel="stylesheet" href="statpages.css">
    </head>
    <body>
        <div ng-app="myApp" ng-controller="customersCtrl">
            <table align="center" bgcolor="#ddddff" border="solid black" cellpadding="5" cellspacing="0">
                <caption>
                      <font color="#804000">Sections of the <i>StatPages.net</i> web site</font>
                </caption>
                <tr>
                    <td  ng-repeat="x in names">
                        <div ng-if="x.Tag != 'Link'">
                            <a id="bar" href="{{ x.Link }}"> {{ x.Name }} </a>
                        </div>
                        <div ng-if="x.Tag == 'Link'" style="color: grey;">
                             {{ x.Name }}
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <script>
            var app = angular.module('myApp', []);
            app.controller('customersCtrl', function($scope, $http) {
                $http.get("choices.php")
                .then(function (response) {$scope.names = response.data.records;});
            });
        </script>


    <h2 align="center"><font color="red">Links to Other Educational and Statistical Web 
    Sites</font> </h2>
    <br>
    
    
    <h3><font color="red"><a name="MoneyGeek">Links to MoneyGeek.com
    financial education resources...
    </a></font> </h3>
    <div style="padding-left: 20px;">
    About us: <a name="MoneyGeek" href="//www.moneygeek.com">MoneyGeek.com</a> combines decades of experience in financial literacy and data to provide comprehensive, easy-to-use tools to help users make smarter financial decisions. This message is intended for U.S. audiences only.
    </div>
    <ul>
        <li>
            <a href="//www.moneygeek.com/education/college/resources/fafsa-guide/" >Ultimate Guide to the FAFSA</a>
        </li>
        <li>
            <a href="//www.moneygeek.com/education/college/resources/debt-free-college-education-guide/">Graduating Without Debt</a>
        </li>
        <li>
            <a href="//www.moneygeek.com/education/college/resources/college-savings-plans-guide/">College Savings Plans</a>
        </li>
    </ul>
    
    
    
    <h3><font color="red"><a name="EducSites">Links to Educational 
    Resources...</a></font> </h3>
    
    
    <ul>
    
    
    <li><a href="//pharmacistschools.org/resources/">An extensive digital library</a> of learning resources for pharmacy professionals.
    </li>
    
    
    <li><a href="//oedb.org/online-schools/">Guide to Online Schools</a> -- 
    Specifically tailored for graduate students, to provide answers to their 
    online education questions. Has distinct sections on choosing a school, 
    financial aid options, the application and planning process, an article 
    comparing Master's and PhD programs, and test preparation advice. 
    </li>
    
    
    <li><a title="A Guide to Not-for-Profit Online Universities" href="//www.learnhowtobecome.org/online-universities/">A 
    Guide to Not-for-Profit Online Universities</a> - a&nbsp;guidebook to help new 
    and returning students understand the online academic landscape and how best 
    to succeed in an online degree program. Key elements of the guide 
    include:<br>
    
    
    - A comprehensive review of the growth of distance education at 
    not-for-profit universities<br>
    
    
    - Differences between for-profit and not-for 
    profit online schools<br>
    
    
    - An exploration of the most popular online learning 
    platforms<br>
    
    
    - Scholarships and other financial aid options for online 
    students 
    </li>
    
    
    <li><a href="//www.affordablecollegesonline.org/">Affordable Colleges Online</a> -- provides free higher education 
    tools and information for current and future college students and their 
    families. Focusing mainly on the not-for-profit programs, this site provides 
    guidebooks for veterans, students with disabilities, Hispanic students, and 
    other college hopefuls; an in-depth financial aid section with articles, 
    guides, expert Q&amp;As, and walkthroughs of key processes and forms; an 
    expert-driven, 20-page guide to online learning success; and a directory of 
    introductory Massive Open Online Courses (MOOCs) from top universities. The 
    web site contains a <a href="//www.affordablecollegesonline.org/online-colleges/masters-degree/">Graduate Degree Guidebook to Online Masters Programs</a> that 
    discusses online master's degrees and program options, and includes helpful 
    information regarding accreditation, time expectations and deadlines, and 
    other frequently asked questions.</li>
  
    <li><a href="//www.CollegeAffordabilityGuide.org">College Affordability Guide</a>
  -- a web site to help prospective undergrad and graduate students find
    affordable, not-for-profit universities. Based on an analysis of over
    5,000 colleges and universities in the US, this site helps find the
    ones that offer both financial accessibility (the lowest costs for low
    and middle income students, as well as flexibility in learning &amp;
    credit), and positive outcomes. It focuses on graduation/transfer rates
    and loan default rates, with the idea that completing one's studies,
    and being able to pay back one's loans, together form a reasonable
    baseline for a worthwhile college experience. Ths site contains a <a href="//www.collegeaffordabilityguide.org/methodology">full description of the methodology</a> used.</li>
    
    
    <li><a href="//www.affordablecollegesonline.org/degrees/">Guidebook to online degrees</a> -- part 
    of the <a href="//www.affordablecollegesonline.org/">Affordable Colleges Online</a> web site. Lets you search online 
    degrees &amp; programs from top non-profit colleges and universities.</li>
    <li><a href="//www.discoverbusiness.us/education/online-mba/">Online Guide to MBA and Graduate Programs</a>, on the <a href="//www.discoverbusiness.us/about-us/">Discover Business</a>
    web site. Helps prospective students make more informed decisions when
    selecting a graduate program. Contains a list of Accredited MBA
    Programs, a curated list of 200+ MBA and Graduate Scholarships, and
    how-to guides for studying for the GMAT and GRE, and how to pay for
    graduate school.</li>
  
  
    <li><a href="//www.affordablecollegesonline.org/online-colleges/mba-programs/">Online MBA Programs</a> -- part of the <a href="//www.affordablecollegesonline.org/">Affordable 
    Colleges Online</a> web site. MBA career guide tailored to the needs of 
    current and future MBA students. The guide includes several key sections, 
    including industry resources, career path outlines, supplemental free online 
    courses, an MBA specialization matrix, and moreThe developers of this page 
    worked with two career counselors and an MBA student to create this content 
    with the intention of providing actionable, relevant, and timely 
    information.<a href="//www.edudemic.com/affordable-online-colleges/">Affordable Online Colleges in America: Rankings &amp; Report</a> 
    -- Edudemic's web site provides information about the most affordable colleges 
    online today. 180 online colleges are ranked on student value, price, and 
    reputation, to determine <span style="font-style: italic;">objectively 
    </span>how far a dollar takes you at each one. These colleges&nbsp;had the 
    best balance of low tuition and stellar performance metrics.</li>
    <li><a href="//www.gograd.org/online-masters-programs/">Go Grad's Guide to Online Master's Degrees</a>
  -- a comprehensive resource for current and prospective grad students.
    Includes an in-depth look at the growth of distance education courses
    at the graduate level, scholarship and financial aid information for
    students pursuing a graduate education, and job growth outlook and ROI
    for students pursuing a master's degree.</li>
  
  
    <li><a href="//www.universities.com/">Universities.com</a> -- an online college prep resource providing university rankings,
    tuition costs and in depth information on more than 8,000 colleges and universities.
    </li>
    
    
    <li><a href="//findyourcontext.education/">Online Degree Programs Context</a> -- helps you deciding on an online bachelor's degree
    or master's degree.
    </li>
    
    
    <li><a href="//www.degreejungle.com/guides/guide-to-college-internships">Guide to College Internships</a> -- a student's guide to 
    skillfully locating, bargaining and accepting Internships. &nbsp;Part of the 
    <a href="//www.degreejungle.com/">DegreeJungle.com</a> web 
    site, which also contains several other guides, lists of colleges and 
    online&nbsp;degrees, and several rankings of colleges by net price, 
    selectivity, and graduation rates. 
    </li>
    
    
    <li>
  <a href="//www.goodcall.com/career/internship-tips/">GoodCall’s featured internship experts</a> ---  comprehensive guide for students on how to set themselves up for success throughout the course of their internship.
    </li>
    
    
    <li><a href="//idhunter.com/search-programs/">&nbsp;ID 
    Hunter</a> -- a comprehensive listing of online graduate certificates in 
    instructional design, online teaching, e-learning, and related fields, along 
    with info on credit hours required, costs, application requirements, and 
    related Master's programs. The <a href="//idhunter.com">website</a> is free to use and requires no registration. 
    </li>
    
    
    <li><a href="//www.mastersdegreeonline.org/">Masters Degree 
    Online</a> – Student Information Website -- An informational website for 
    people who are considering getting a Master's through an online program. 
    Describes the benefits of getting an online Master's, program accreditation 
    issues, tips for pursuing an online degree, information about 25 specific 
    subjects, and links to other resources. 
    </li>
    
    
      <li>
      <a href="//www.coursera.org"> Coursera </a>Online Courses From Top Universities</a> It's free and absolutely excellent!<br>
      Provides universal access to the world’s best education, partnering with top universities and organizations to offer courses online.<br>
      Available for iPad Apps, Android Apps and on Google Play. You'll need to sign in.
      </li>
    
    
    <li><a href="//www.onlinegraduateprograms.com/">Online 
    Graduate Programs</a> -- A web site with a wide variety of resources for 
    anyone attending, or thinking about attending, graduate school. &nbsp;Contains 
    info about how to get into grad school, graduate studies overseas, how to get 
    a research position, scholarship and grant resources, should you attend?, life 
    in grad school, online programs, Masters / Doctorates / MBAs, and much more!</li>
    
    
    <li><a href="//www.onlineuniversity.net/">Online 
    University</a> -- A site with a wide variety of academic-based articles that 
    take an insightful approach, igniting the educational curiosity in us all. 
    &nbsp;Not specifically a statistics site, but well worth looking at 
    nonetheless! 
    </li>
    
    
    <li><a href="//www.healthcarespanish.com/">HealthCareSpanish</a> -- a web site to help you learn common phrases and medical terms in Spanish.</li>
    
    
    <li><a href="//www.acj.edu.au/courses/writing-and-communication">Courses in Writing and Communication</a>, from the <a href="//www.acj.edu.au/">Australian College of 
    Journalism</a> (part of&nbsp;<a href="//www.opencolleges.edu.au/">Open Colleges</a>). Provides specialised writing, editing and 
    media-related training to help aspiring authors, editors and journalists 
    polish their skills and acquire the commercial savvy needed to succeed. 
    </li>
    
    
    <li>Two websites by Jeremy Taylor, dedicated to helping graduate students and 
    professionals with their statistical analysis or problems. 
    
    
        <ul>
            <li><a href="//www.statsmakemecry.com/">StatsMakeMeCry</a> is a place to share ideas and find answers 
            to your statistical questions. It is intended for information sharing, and 
            focuses on free content, such as blogs, video tutorials...etc. 
            </li>
    
    
            <li><a href="//www.youtube.com/user/varyyourstats">VaryYourStats</a> 
            is a collection of Youtube channels on statistics topics.
            </li>
        </ul>
    
    
    </li>
    
    
  </ul>
    
    
  <h3><font color="red"><a name="OtherSites">Links to other statistics-related web 
  sites...</a></font> </h3>
  
  
  
  <ul>
  
  
    <li><a href="Thomeer2016.xlsx"> The Thomeer Excel spreadsheet</a> -- a highly developed piece of spreadsheet software that implements the complete formalism of Bert Thomeer, Ben Swanson, Ed Clerke and Jan Buiting
    for the type curve matching analysis of Mercury Injection Capillary Pressure data obtained upon porous geological materials.
    The original version was developed by Dr Ed Clerke and Mr. Paul Martin.
    Continuously developed for over 15 years and used for thousands of geological samples in the oil and gas industry, the latest version now includes a data editing capability with discussion material.
    For more background, see the reference papers by J. H. M Thomeer; B. Swanson,;  E. A. Clerke; and J. J. M. Buiting in the petroleum industry literature.
    </li>
  
    <li><a name="imgsoft" href="//www.mccauslandcenter.sc.edu/crnl/tools">Free neuro imaging software from Dr. Chris Rorden's Neuropsychology Lab at University of South Carolina.</a> -- Twenty one programs devoted to brain imaging and physiology of the brain.
    </li>
  
  
  
  
    <li><a href="//www.whoishostingthis.com/resources/html-for-beginners/">HTML for Beginners</a> -- A nice introduction to HTML, 
    describing the concept of markup tags, preparing an HTML document, using 
    meta-tags, basic formatting, hyperlinks and anchors, images, forms and tables. 
    It also contains links to other HTML resources. Thanks to the young web 
    designers at <a href="//goodwincc.org/">the W. B. Goodwin 
    Community Center</a> for suggesting this resource! 
    </li>
  
   
  
  <!-- THIS PAGE EXISTS BUT HAS AN INTERNAL ERROR !!!
    <li><a href="//www.facster.com">Facster</a> -- a web site 
    that makes the Statistical Abstract of the United States easily and fully 
    accessible: 
  
  
      <ul>
  
  
      <li>has easy to use key-word searching. 
      </li>
  
  
        <li>lets you zero in on the information of interest. 
      </li>
  
  
        <li>provides links to source internet sites from your search results. 
      </li>
  
  
        <li>contains the entire electronic version of the Abstract, not the 
      abbreviated tables in the bound edition or the government published .pdf 
      files. 
      </li>
  
  
        <li>presents all data in the same easy to read time-series format, unlike 
      the published data series, which are all in different formats. 
      </li>
  
  
        <li>lets you combine information from different parts of the Abstract. 
      </li>
  
  
        <li>allows easy browsing of the Abstract's information. 
      </li>
  
  
        <li>lets you bookmark your search results. 
      </li>
  
  
        <li>includes the California Statistical Abstract and will continue to grow 
      with other government statistics. </li>
  
  
      
      
      </ul>
  
  
  
    </li>
  -->
  
    <li><a href="//www.datashaping.com/">Data Shaping 
    Solutions</a> -- Data Mining Job Board / Data Mining Meta Directory / Analytic 
    Job Board. Specializing in Business Intelligence, Statistics, Analytics, Data 
    Management, Data Mining, Data Analysis, SAS Programming, CRM, Artificial 
    Intelligence, Web Mining, Six Sigma, Operations Research, Risk Management, 
    Database Marketing and Quant. Also offers a wide array of expertise in design 
    of experiments, time series, predictive modeling, survey analysis, customer 
    profiling, pattern recognition, statistical testing, data mining across 
    several industries (including Finance, Internet, Marketing and Litigation), 
    programming languages (such as SAS, Java, C, C#, Perl, Splus/R and SQL), and 
    internet solutions such as black box trading. 
    </li>
  
  
    <li><a href="//www.businessbookmall.com/Statistics%20Internet%20Library.htm">Statistics Internet Library</a> -- a useful page, especially for 
    students and others who are learning statistics. It has links to free 
    net-based stats textbooks, illustrated instructions for doing statistics with 
    Excel, practice questions and problems for statistics tests, overview charts, 
    resources for learning statistics and writing research papers, links to other 
    statistics-related web sites, and links to other "Internet Libraries" 
    (Economics, Excel, Mathematics, Small Business, etc.). 
    </li>
  
  
    <li><a href="//www.publicpractice.com.au">PublicPractice</a> -- an Australian site providing 
    census-related products and services. Products include Portraits, Populator, 
    Community Projector, Community Analyst, Community Explorer, Age Profiler, 
    Census data, and Population Sketches. Services include presentations and 
    seminars, needs analyses, social planning, and process management. The web 
    site also offers technical support, current (Australian) populations, and 
    links to other useful web sites. 
    </li>
  
  
    <li><a href="//home.ubalt.edu/ntsbarsh/">Dr. Hossein 
    Arsham's Remarkable Web Site</a> (University of Baltimore) -- A <b>very</b> 
    large and <b>very</b> impressive collection of online courses, tutorials, and 
    related resources for a wide variety of subjects related to: 
    
      
      
      <ul>
  
  
  
      <li><b>Statistical Data Analysis for Managerial Decisions</b>, with Excel 
      For Introductory Statistical Analysis 
      </li>
  
  
        <li><b>Business Statistics for Managerial Decision Making</b>, with Excel 
      for Business Statistics 
      </li>
  
  
        <li><b>Science of Making Good Strategic Decisions</b>, with Success Science, 
      Leadership Decision Making, Tools for Decision Analysis, Time-Critical 
      Decision Making for Economics and Finance, Zero-Sum Games with Applications, 
      Decision Science Resources, A Collection of Keywords and Phrases 
      </li>
  
  
        <li><b>Goal-seeking and Optimal Strategic Modeling and Solution 
      Algorithms</b>, with Linear Programming (LP) and Goal-Seeking Strategy, 
      Integer Optimization and the Network Models, Artificial-variable Free LP 
      Solution Algorithms, Tools for LP Modeling Validation, The Classical Simplex 
      Method, Linear Algebra and LP Connections, From Linear to Nonlinear 
      Optimization: The Missing Chapter, Construction of the Sensitivity Region 
      for LP Models, Optimization with Sensitivity Analysis Resources 
      </li>
  
  
        <li><b>Modeling and Simulation for Systems Analysis, Design and Control</b>, 
      with System Simulation, , Modeling and Simulation Resources 
      </li>
  
  
        <li><b>Statistical Concepts and Tools for Data Analysis</b>, with 
      Questionnaire Design and Surveys Sampling, Topics in Statistical Data 
      Analysis, Computational Statistics, Probability and Statistics Resources 
      </li>
  
  
        <li><b>Online Courses</b>: Business Statistics, Decision Science/Management 
      Science/Operations Research. 
      </li>
  
  
        <li><a href="http://home.ubalt.edu/ntsbarsh/zero/zero.htm">Zero Sagas in Four Dimensions</a>
  
      </li>
  
  
        <li>The Institute for Operations Research and the Management Sciences <a href="//www.informs.org">(INFORMS)</a>
      maintains a web site that's an incredible treasure-trove 
      of information on every imaginable topic related to simulation. Every paper 
      and tutorial presented at the past four Winter Simulation Conferences is 
      available for downloading as full-text Adobe PDF files, which can be viewed 
      with the freely-available Adobe Acrobat Reader. </li>
  
  
      </ul>
  
  
  
  
    </li>
  
  
  <li>
  
  <a href="//www.areavibes.com">Areavibes</a> has livability information for thousands of US cities, with information like cost of living, crime rate, demographics, etc. 
  </li>
    <li><a href="//www.fotosearch.com/">Foto Search Image 
    Library</a> -- 1,300,000 keyword-searchable&nbsp;images, including Art, 
    photography, clipart, illustrations, footage, and maps you can view free of 
    charge. It is the digital, online equivalent of a conventional art museum. 
    Browsing through the world-class photography and art library is free, and 
    there are no access charges, registration requirements, or usage limits. 
    </li>
  
  
    <li><a href="//www.canstockphoto.com">CanStockPhoto</a> extensive collection of royalty-free stock photography, clip-art, and video footage. 
    </li>
  
    <li><a href="//www.techenomics.net">Techenomics</a> -- 
    Lubricating oil sample analysis and testing, temperature, vibration and 
    condition monitoring by Techenomics International 
    </li>
  
  
    <li><a href="//www.statisticssolutions.com/">StatisticsSolutions</a> - a company specializing in statistical 
    consulting and analysis services for graduate students working on their 
    dissertations. Their web site also provides a collection of <a href="//www.statisticssolutions.com/Tips_Resources.htm">statistics-related tips, tutorials and other resources</a>. 
    </li>
  
  
    <li><a href="//pages.infinit.net/rlevesqu/index.htm">SPSS 
    dedicated web site</a> -- includes more than 350 free sample syntax, macros 
    and scripts classified by purpose, as well as Tips, FAQs, tutorials and a 
    Newbie's Corner. 
    </li>
  
  
    <li><a href="//www.pmean.com/category/GraphicalDisplay.html">Conventions for the Graphical Display of Data</a> -- a nice 
    review of some of the do's and don'ts when making graphs. This is part of <a href="//aces.nmsu.edu/pubs/howto/howto.html">NMSU's Cooperative Extension Service</a>,
    a collection of background material, which is part of a larger collection of how-to's and circulars.
    It cover such topics as gardening, health, clothing and sewing, family resource management, and livestock and range management. 
    resources for technical and professional communicators</a>. 
    </li>
  
  
    <li>An excellent set of online slide shows and handouts from a tutorial 
    session given in Oct, 2000 Marianne W. Zawitz, Bureau of Justice Statistics at 
    the Washington Statistical Society. &nbsp;Includes: 
    
      
      
      <ul>
  
  
  
      <li>Online slide presentation: <a href="//washstat.org/methods/zawitzg.ppt">Data Presentation: A Guide To Good Graphics</a> 
      
          
          
          <ul>
  
  
  
        <li>Adobe PDF handout: <a href="//washstat.org/methods/zawitzhnd.pdf">Good Graphics: Simplicity of Design and Complexity of 
        Data</a> </li>
  
  
          
          
          </ul>
  
  
  
      </li>
  
  
        <li>Online slide presentation: <a href="//slideplayer.com/slide/9388946/">Data Presentation: A Guide To Good Tables</a> 
      
          
          
          <ul>
  
  
  
        <li>Adobe PDF handout: <a href="//washstat.org/methods/zawitztab.pdf">Good Tables: Numbers Have Architecture</a> </li>
  
  
          
          
          </ul>
          
          BTW, do check out the <a href="//washstat.org/seminars/"><b>Washington Statistical Society Seminars</b></a>. It's worth it.
  
        </li>
  
  
      
      
      </ul>
  
  
  
    </li>
  
  
    <li><a href="//gsociology.icaap.org/methods/">Free 
    Resources for Program Evaluation and Social Research Methods</a> -- "How-to" 
    do evaluation research and the methods used: surveys, focus groups, sampling, 
    interviews, and other methods. Most of these links are to resources that can 
    be read over the web. A few, like the GAO books, are for books that can be 
    sent away for, for free (if you live in the US), as well as read over the web. 
  
    </li>
  
  
    <li><a href="//MathTools.net">MathTools</a> -- a technical 
    computing portal for all scientific and engineering needs, provided as a free 
    service to the scientific community and contains useful links for technical 
    computing programmers. Contains sections for MATLAB, Excel, Scientific C/C++, 
    Scientific Fortran, Scientific Java, Visual Basic, Applications &amp; 
    Industries, and Learning &amp; Education.<br>
    This directory exists, but is no longer maintained!
    </li>
  
  
    <li><a href="//nilesonline.com/data/">Finding Data on the 
    Internet</a> -- a page of links to other pages that link to online databases 
    related to: agriculture, aviation, crime, demographics, education, energy, 
    finding people, health, immigration, investing, law, military, non-profits, 
    politics, weather, and more. 
    </li>
  
  
    <li><a href="http://www.math.uah.edu/stat/">Virtual 
    Laboratories in Probability and Statistics</a> <font color="red">(Java)</font> 
    </li>
  
  
    <li><a href="http://learningandteaching.org/Research/Research.htm">StatPak -- A Statistical Package</a>. <font color="red"></font>
    Get the Window version (only) <a href="STATPAK.EXE"> here</a>. 
    </li>
  
  
    <li><a href="//www.kdnuggets.com/siftware.html">Software: 
    Tools for Data Mining and Knowledge Discovery</a> -- links to software 
    packages (some free, some commercial; various hardware/software platforms) for 
    performing mining/sifting/discovering analyses.<br>
  
  
    Tool Types: 
    
      
      
      <ul>
  
  
  
      <li>Suites - tools handling multiple discovery tasks 
      </li>
  
  
        <li>Classification - predicting an item class based on historical data 
      </li>
  
  
        <li>Method: Multiple | Decision tree | Rules | Neural network | Rough sets | 
      Genetic | Nearest Neighbour | Fuzzy 
      </li>
  
  
        <li>Estimation and Regression - estimating a continuous value 
      </li>
  
  
        <li>Clustering - finding groups of related items 
      </li>
  
  
        <li>Link Analysis - finding links or dependencies 
      </li>
  
  
        <li>Associations and Market-Basket Analysis 
      </li>
  
  
        <li>Sequential Patterns 
      </li>
  
  
        <li>Visualization 
      </li>
  
  
        <li>Statistics 
      </li>
  
  
        <li>Text Mining 
      </li>
  
  
        <li>Web Mining 
      </li>
  
  
        <li>Deviation Detection 
      </li>
  
  
        <li>Summarization 
      </li>
  
  
        <li>Data Cleaning and Transformation 
      </li>
  
  
        <li>Dimensional Analysis </li>
  
  
      
      
      </ul>
  
  
  
    </li>
  
  
    <li><a href="//archive.is/biomodel.georgetown.edu">Library of 
    Mathematical Models of Biological Systems</a> -- provides access to working 
    versions of published models 
    </li>
  
  
    <li><a href="//www.dartmouth.edu/~chance/">The Chance Database</a>, containing materials designed help 
    teach a Chance course or a more standard introductory probability or 
    statistics course 
    </li>
  
  
    <li><a href="//www.york.ac.uk/depts/maths/histstat/welcome.htm">The early history of statistics</a> -- a collection of seminal 
    papers by Bayes, Pascal, Laplace, Legendre, and others. (Most documents and 
    graphics are in Unix formats -- LaTeX, PostScript, gz -- rather than the 
    common formats understood by most browsers.) 
    </li>
  
  
    <li><a href="//www.martindalecenter.com">Martindale's Reference Desk - &nbsp;Calculators On-Line - 
    Statistics</a> (the grand-daddy of all compendia of calculating web pages) 
    </li>
  
  
    <li><a href="//archives.math.utk.edu/interactive.html">Mathematics Archives - Interactive WWW Pages</a> 
    </li>
  
  
    <li><a href="//matwww.ee.tut.fi/mathematics/linkit/java.htm">Links to mathematical Java applets (including statistics)</a> -- 
    an incredibly comprehensive collection! Much of the page is in Finnish, but 
    you can still identify the useful links. 
    </li>
  
  
    <li><a href="//fedstats.sites.usa.gov">FedStats</a> -- a master 
    page maintained by Federal Interagency Council on Statistical Policy to 
    provide easy access to the full range of statistics and information produced 
    by more than 70 agencies in the United States Federal Government. 
    </li>
  
  
    <li>An incredibly comprehensive <a href="//www.larryhatch.net/STATMENU.html">database of 
    information on UFO sightings</a> (if you're into that sort of thing), with 
    impressive graphical output and the ability to query for specific information. 
  
    </li>
  
  
    <li><a href="//www.thehungersite.com">The Hunger Site</a> 
    -- An unusual site, not statistics-related, in which sponsors make donations 
    to humanitarian organizations whenever someone looks at their banner ads. 
    </li>
    
    
    <li><a href="//www.ilstu.edu/%7Egcramsey/Gallery.html">First Internet Gallery of Statistics Jokes</a> -- enjoy, and 
    contribute some of your own! </li>
    
    
  </ul>
    
    
<p></p>

<hr>

<center>Please send all suggestions for new pages, notifications for dead links, and other requests in an e-mail to <a href="mailto:statpages.org@gmail.com">statpages.org@gmail.com</a><a href="mailto:statpages.org@gmail.com"></a>
</center>

</body>
</html>
