<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>

        <title>What's New in the Interactive Statistical Pages</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <link rel="stylesheet" href="statpages.css">

    </head>

<body>
<div ng-app="myApp" ng-controller="customersCtrl">

<table align="center" bgcolor="#ddddff" border="solid black" cellpadding="5" cellspacing="0">
    <caption>
          <font color="#804000">Sections of the <i>StatPages.net</i> web site</font>
    </caption>
    <tr>
        <td  ng-repeat="x in names">
            <div ng-if="x.Tag != 'News'">
                <a id="bar" href="{{ x.Link }}"> {{ x.Name }} </a>
            </div>
            <div ng-if="x.Tag == 'News'" style="color: grey;">
                {{ x.Name}}
            </div>
        </td>
    </tr>
</table>

</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function($scope, $http) {
        $http.get("choices.php")
        .then(function (response) {$scope.names = response.data.records;});
    });
</script>

<h2 align="center"><font color="red">What's New in the Interactive Statistical
Pages</font></h2>
<br>

<a href="//statpages.info">statpages.info</a> now uses <a href="//letsencrypt.org">Let's Encrypt certificate</a> authorisation (added 09/01/2019)<br>
<br/>

<a href="Thomeer2019.xlsx">The Thomeer Excel spreadsheet</a> A highly developed spreadsheet software that implements the complete formalism of the type curve matching analysis of Mercury Injection Capillary Pressure data obtained upon porous geological materials
(updated 11/08/2019)<br/>
<br/>

<a href="//www.gigacalculator.com/">GIGA Calculators</a> Several small versatile online calculators (added 03/03/2019)<br>
<br>

<a href="//www.invivostat.co.uk">InVivoStat</a> is a free to use, versatile statistical program for Windows (added 3/17/2018)<br>
<br>

<a href="//www.uv.es/visualstats/Book/">ViSta</a> Windows version 7.9.2.8  (added 12/26/17)<br>
<br>

<a href="//www.myaccountingcourse.com/financial-ratios">A comprehensive list of financial ratios and metrics</a> to be used by investors and analysts (added 11/14/17)<br>
<br>

<a href="//www.iCalcu.com">iCalcu</a> --  four statistics calculators: Five-number summary, ANOVA and Tukey HSD, Chi-square and Binomial Probability (added 10/27/2017)<br>
<br>

<a href="//acetabulum.dk">acetabulum.dk</a> - five statistics calculators: Correlation, Survival Analysis, Cox Propertional Hazard Analysis, ANOVA and Logistic Regression (added 09/02/2017)<br>
<br>

<a href="//www.runiter.com/graphing-calculator/">Graphing Calculator 3D</a> with a wide range of plot capabilities. Plot equations and data points (Excel, CSV).
Available for Windows, Mac or Linux computers (added 04/19/2017)<br>
<br>

<a href="kappa.html">Quantify agreement with kappa</a> with data entry in case format. You can copy/paste Excel or CSV data (added 12/13/2016)<br/>
<br>

<a href="ordinalM.html">Contingency Table Analysis</a> for Ordinal (sequenced) Categories. New version with N-by-M contingency tables (added 12/08/2016)<br/>
<br>

<a href="chisq.html">Chi Square calculation</a> for  for N x M contingency tables (added 12/03/2016)<br/>
<br>

<a href="ctab2x2.html">Statpages 2-by-2 table analysis interactive page</a>
<ul>
    <li>Adjusted predictive values by Søren Merser (added 11/06/2016)</li>
    <li>Diagnostic Test and RIOC, Relative Improvement Over Chance suggested by Michael Meier (added 11/04/2016)</li>
    <li>NNM, the Number Needed to Mis-diagnose thanks to Farrokh Habibzadeh (added 07/23/2013)</li>
</ul>
<br/>

<a href="//araw.mede.uic.edu/cgi-bin/testcalc.pl">Diagnostic Test Calculator</a> determine diagnostic test characteristics like sensitivity, specificity, likelihood ratios etc. (added 11/03/2016)<br/>
<br/>


GoodCall's student <a href="//www.goodcall.com/career/internship-tips/">guide to success</a> throughout the course of their internship (added 05/30/2016)<br>
<br>


Bill Millers <a href="//openstat.info">OpenStat</a> resource back online (added 04/24/2016)<br/>
<br/>


<a href="//www.areavibes.com">Areavibes</a> has information for thousands of US cities (added 04/24/2016)<br/>
<br>


<a href="//hostingfacts.com/web-development-101/">Hosting Facts</a> A page for learning website development<br/>
<br/>


Marko Lucijanic's <a href="logrank.xls">Excel spreadsheet</a> to perform Log Rank test on survival data (added 03/14/2016)<br>
<br>


<a href="//statpages.info/search.html">Site search for Statpages</a> (added 03/10/2016)<br>
<br>

<a href="https://merser.shinyapps.io/CoxReg/">Cox Proportional Hazards Regression</a> Copy/paste data from Excel or upload a CSV file. Produces a
regression table report, survival plot, survival table, log-rank test,
and a predicted survival plot for specified covariable patterns. Uses
the R statistical engine on the host server to provide very
high-quality output (added 12/20/2015)<br>


<br>


<a href="//www.discoverbusiness.us/education/online-mba/">Online Guide to MBA and Graduate Programs</a>, on the <a href="//www.discoverbusiness.us/about-us/">Discover Business</a>
web site. Helps prospective students make more informed decisions when
selecting a graduate program. Contains a list of Accredited MBA
Programs, a curated list of 200+ MBA and Graduate Scholarships, and
how-to guides for studying for the GMAT and GRE, and how to pay for
graduate school. (added 12/10/2015)<br>


<br>


<a href="//www.gograd.org/online-masters-programs/">Go Grad's Guide to Online Master's Degrees</a>
-- a comprehensive resource for current and prospective grad students.
Includes an in-depth look at the growth of distance education courses
at the graduate level, scholarship and financial aid information for
students pursuing a graduate education, and job growth outlook and ROI
for students pursuing a master's degree. (added 12/10/2015)<br>


<br>


<a href="//www.varsitytutors.com/practice-tests">Varsity Learning Tools</a>
-- contains over 100,000 professionally written problems and thousands
of distinct practice tests across 150 subjects (e.g.:&nbsp; foreign
languages, history, math, and all levels of science). Also has
thousands of practice tests and problems for Common Core and
standardized tests like the ACT, SAT, GRE, GMAT, LSAT, MCAT, ISEE, and
SSAT. Each question is tied to a specific academic concept, which means
that students can pinpoint their particular strengths and weaknesses in
almost any area. The platform also includes free web-based <a href="//www.varsitytutors.com/classroom-assessment">classroom assessment software</a>.<br/>
Varsity Learning Tools also has 41 subject specific<a href="//www.varsitytutors.com/apps"> Mobile Apps</a> for on-the-go studying, with all of the same free academic content in a convenient and user-friendly interface. The <a href="//www.varsitytutors.com/">Varsity main web page</a> provides a referral service to paid tutors. (added 12/10/2015)<br/>


<br>


<a href="//neuvoo.com/">Neuvoo.com</a> -- a free <span style="font-weight: bold;">job search engine</span>
that indexes almost 3 million US jobs directly from companies' career
websites, placement agencies and job boards. Much like a "Google for
jobs", you can also search by company, job title, skills, and by city,
region, state, industry, etc., and find all relevant jobs. (added 12/10/2015, on the John Pezullo Page)<br>
<br/>


<a href="https://github.com/jfbouzereau/explorer">Explorer</a>
-- A data exploration / graphing / analysis program with a very elegant
drag-and-drop interface. &nbsp;Accepts data from text files, Excel
spreadsheet, MySQL databases, and copy/pasted from the clipboard.
Provides over a dozen kinds of plots and diagrams, basic statistical
summaries, significance tests (chi-square, t, ANOVA ) and more advanced
analyses (factorial, principal components, discriminant, variance,
linear regression). Executable programs can be downloaded for Windows
and Mac OSX. Written in JavaScript, so it can also be run in any modern
browser. See a short <a href="//www.dailymotion.com/video/x37lze3">demo here</a>. &nbsp;(added 10/08/2015)<br>



<a href="https://blog.udemy.com/matlab-tutorial/">MATLAB tutorial</a>
-- covers setting it up, &nbsp;interactive mode and script files, writing
Matlab code (variables, arrays and matrices, control flow and classes),
and sample applications. (added 09/18/2015)<br>



<br>



<a href="//www.healthcarespanish.com/">HealthCareSpanish</a> -- a web site to help you learn common phrases and medical terms in Spanish. (added 09/18/2015)<br>



<br>



<a href="https://www.apponfly.com/">AppOnFly</a> has a
different approach -- the company maintains Windows computers with a
wide selection of Windows software, including utilities for accessing
PDF, ZIP, graphics and other files, web browsers, various office suites
(MS Office, Libre Office, Apache OpenOffice, WordPerfect Office), and
statistical packages (SPSS, &nbsp;NCSS, R), to mention a few. They then
provide apps for accessing this Windows desktop environment from any
device -- computer, smartphone, tablet (Windows, Mac OS, iOS, Android).
This is a pay-for service, but they offer one-month free trials.
<p align="left"><a title="A Guide to Not-for-Profit Online Universities" href="//www.learnhowtobecome.org/online-universities/">A
Guide to Not-for-Profit Online Universities</a> - a guidebook to help new and
returning students understand the online academic landscape and how best to
succeed in an online degree program. Key elements of the guide include:<br>



- A
comprehensive review of the growth of distance education at not-for-profit
universities<br>



- Differences between for-profit and not-for profit online
schools<br>



- An exploration of the most popular online learning platforms<br>



-
Scholarships and other financial aid options for online students&nbsp;&nbsp;
(added 08/20/2015)</p>




<p align="left"><a href="//pilotsamplesize.com/">Sample size
calculator for pilot or safety studies </a>where the goal is to detect the
occurrence of one or more events that might indicate possible problems in study
design (ambiguous inclusion criteria, misinterpretation of questionnaire items)
or product safety (occurrence of serious adverse events, abnormal lab tests, or
other safety markers). Enter the prevalence rate you want to be able to detect
(like one in a hundred), and the probabibility you want to have of seeing at
least one such event in your sample (like 95% probability), and the page will
tell you how many subjects you need in the study. (added 08/05/2015)</p>




<p><a href="https://jasp-stats.org/">JASP</a> -- a new package
(still in "beta" development) that's described by the authors as a "low-fat
alternative to SPSS", and "Bayesian statistics made accessible". Provides a
user-friendly interface to many of the commonly-used statistical analyses --
descriptive statistics, plots, t tests, Levene's Test, ANOVA, ANCOVA,
contingency tables, Pearson and Spearman correlation, Kendall's Tau-B, and
linear regression. For many of these analyses, the JASP also provides&nbsp;the
closest corresponding Bayesian equivalent, implemented in a way that will be
understandable to people not familiar with Bayesian concepts and terminology.
(added 07/29/2015)<br>



<a href="//www.statgraphics.com/statgraphics-stratus">Statigraphics Stratus</a> -- a browser-based version of
Stratigraphics statistical software. Provides plotting, probability
distributions, summary statistics, one-, two-, and multiple-sample analysis,
time-series analysis, regression analysis, curve-fitting, attribute estimates,
ANOVAs, Statistical Process Control, smoothing, power/sample-size calculations,
and other statistical analyses.Also provides&nbsp; access to over 50 applets in
which you can enter data, compute statistics, create tables and graphs, and
print out the results. The free "Guest" version supports up to 100 rows and 10
columns of data. For larger data sets, a single-user copy or a corporate
deployment license can be purchased. To use the Guest version, <a href="//www.statpoint.net/">click here</a>. &nbsp;(added
07/18/2015)<br>



</p>








<ul>




  <li><span style="font-weight: bold;">MedCalc</span> -- Two different web sites:
  &nbsp; &nbsp;(added 07/18/2015)




    <ul>




    <li><a href="https://www.medcalc.org/">MedCalc.org</a> -- a
    collection of seven free calculating web pages: tests for <a href="https://www.medcalc.org/calc/test_one_mean.php">one
    mean</a> or <a href="https://www.medcalc.org/calc/test_one_proportion.php">one proportion</a>, comparisons of <a href="https://www.medcalc.org/calc/comparison_of_means.php">means</a> or <a href="https://www.medcalc.org/calc/comparison_of_proportions.php">proportions</a>, <a href="https://www.medcalc.org/calc/relative_risk.php">relative
    risk</a>, <a href="https://www.medcalc.org/calc/odds_ratio.php">odds ratio</a>, and <a href="https://www.medcalc.org/calc/diagnostic_test.php">diagnostic test evaluation</a>.
    </li>



      <li><a href="https://www.medcalc.net/">MedCalc.net</a> -- a
    pay-for browser-based statistical system (5-day free trial available)
    providing a wide range of statistical analyses (<a href="https://www.medcalc.net/stats/">click here for
    list</a>). </li>






    </ul>



  </li>



</ul>



<a href="//www.johndcook.com/Beautiful_Testing_ch10.pdf">How to
Test a Random Number Generator</a> -- a chapter from the book Beautiful Testing,
by John D. Cook. (added 07/15/2015)<br>



<a href="//mycurvefit.com/">MyCurveFit.com</a> -- an easy-to-use curve-fitting page.
&nbsp;Offers 13 pre-defined functions (no initial guesses required), along with
the ability to fit a general non-linear function you provide (along with initial
guesses). Displays the results graphically, along with the formula of the fitted
curve. Several&nbsp; types of unequal data-point weighting are provided. Lets
you generate predicted values (interpolated and extrapolated) from the fitted
curve. Lets you save results in Excel and PDF formats.&nbsp;(added
03/13/2015)<br>



<br>



<a href="//www.maxstat.de/">MaxStat</a>
statistics &amp; graphics program (for Windows): Easy to use, modern interface
-- specify an analysis in three simple steps within a single dialog.
&nbsp;(added 02/13/2015)<br>



Two versions are available:<br>



&nbsp; * &nbsp;<a href="//www.maxstat.de/compare-versions.html">Lite</a> (free)
has descriptive statistics, hypothesis testing (t-tests, chi-square, 1-way ANOVA
with post-hocs, non-parametric tests), distribution testing, linear
regression,&nbsp; correlation, many basic types of graphs;&nbsp;limited to 254
rows and 12 columns of data, no import/export.<br>



&nbsp; * &nbsp;<a href="//www.maxstat.de/compare-versions.html">Professional</a>&nbsp; (free 30-day trial) advanced analyses
(unlimited rows &amp; columns, import/export, many more analyses (2-way ANOVA,
logistic and non-linear regression, principal-components analysis and
multidimensional scaling, time series, power/sample-size, factorial design),
more graph types, word-processing and formatting of results. &nbsp;(added
02/08/2015)<br>



<br>



<span class="Apple-style-span" style="white-space: normal; word-spacing: 0px; text-transform: none; color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-style: normal; font-variant: normal; font-weight: normal; font-size: medium; line-height: normal; font-size-adjust: none; font-stretch: normal; orphans: 2; widows: 2; letter-spacing: normal; background-color: rgb(255, 255, 238); text-indent: 0px;"></span>
<hr>

<center>Please send all suggestions for new pages, notifications for dead links, and other requests in an e-mail to <a href="mailto:statpages.org@gmail.com">statpages.org@gmail.com</a><a href="mailto:statpages.org@gmail.com"></a>
</center>



</body>
</html>
