<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title>Interactive Statistical Calculation Pages</title>

        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <link rel="stylesheet" href="statpages.css">

    </head>

<body>
<div ng-app="myApp" ng-controller="customersCtrl">

<table align="center" bgcolor="#ddddff" border="solid black" cellpadding="5" cellspacing="0">
    <caption>
          <font color="#804000">Sections of the <i>StatPages.net</i> web site</font>
    </caption>
    <tr>
        <td  ng-repeat="x in names">
            <div ng-if="x.Tag != 'Books'">
                <a id="bar" href="{{ x.Link }}"> {{ x.Name }} </a>
            </div>
            <div ng-if="x.Tag == 'Books'" style="color: grey;">
                 {{ x.Name }}
            </div>
        </td>
    </tr>
</table>

</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function($scope, $http) {
        $http.get("choices.php")
        .then(function (response) {$scope.names = response.data.records;});
    });
</script>

<h2 align="center">
  <font color="Red">Statistical Books, Manuals and Journals</font></h2><br>
  <font color="Red"><b><big>Contents of This Page:</big></b></font><ul>
  <li>
    <p align="left">
    <big> <a href="#General">General TextBooks</a></big>
  </p></li><li>
    <p align="left">
    <big> <a href="#Specific">Books Related to Specific Software
    Packages</a></big>
  </p></li><li>
    <p align="left">
    <big> <a href="#Reference">Reference Compendia and Glossaries</a></big>
  </p></li><li>
    <p align="left">
    <big> <a href="#Journals">Online Journals</a></big>
  </p></li><li>
    <p align="left">
    <big> <a href="#Comparison">Automatic Comparison Shopping Service</a></big>
</p></li></ul>
<h4>
  <a name="General"><!-- --></a><font color="Red">General TextBooks:</font>
</h4>
<ul>
  <li>
    <a href="//davidmlane.com/hyperstat">HyperStat Statistics Textbook</a>
    -- a very well-designed and well-constructed "hyper-text-book". Contents:
    Introduction, Describing Univariate Data, Describing Bivariate Data, Introduction
    to Probability, Normal Distribution, Sampling Distributions, Point Estimation,
    Confidence Intervals, The Logic of Hypothesis Testing, Testing Hypotheses
    with Standard Errors, Power, Introduction to Between-Subjects ANOVA, Factorial
    Between-Subjects ANOVA, Within-Subjects ANOVA, Prediction, Chi Square,
    Distribution-Free Tests, and Measuring Effect Size<span style="color: rgb(34, 34, 34); font-family: Tahoma; font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; display: inline ! important; float: none;"></span></li><li>
    <a href="//www.sjsu.edu/faculty/gerstman/StatPrimer/">StatPrimer</a>
    -- an online textbook by Bud Gerstman.
    <ul>
      <li>
    Part A covers general statistical concepts: Measurement and Sampling ,
    Stem-and-Leaf Plots and Frequency Tables, Summary Statistics, Introduction
    to Probability Distributions, Estimating a Population Mean, Null Hypothesis
    Testing a Mean, Paired Samples and Their Differences, Independent Samples
    and Their Differences, Inference About a Proportion, Independent Proportions,
    Cross-Tabulations, and Chi-Square Methods.
      </li><li>
    Part B emphasizes the design of experiments and studies: Data Entry and
    Validation, Cohort Studies, Case-Control Studies, Inference About Variances,
    Analysis of Variance, Correlation, Regression, Sample Size, Power, and Precision,
    and Stratified Analysis 2x2 Tables
    </li></ul>
  </li><li>
    <a href="//home.ubalt.edu/ntsbarsh/">Dr. Hossein Arsham's Remarkable
    Web Site</a> (University of Baltimore) -- A <b>very</b> large and <b>very</b>
    impressive collection of online courses, tutorials, and related resources
    for a wide variety of subjects related to:
    <ul>
      <li>
    <b>Statistical Data Analysis for Managerial Decisions</b>, with Excel For
    Introductory Statistical Analysis
      </li><li>
    <b>Business Statistics for Managerial Decision Making</b>, with Excel for
    Business Statistics
      </li><li>
    <b>Science of Making Good Strategic Decisions</b>, with Success Science,
    Leadership Decision Making, Tools for Decision Analysis, Time-Critical Decision
    Making for Economics and Finance, Zero-Sum Games with Applications, Decision
    Science Resources, A Collection of Keywords and Phrases
      </li><li>
    <b>Goal-seeking and Optimal Strategic Modeling and Solution Algorithms</b>,
    with Linear Programming (LP) and Goal-Seeking Strategy, Integer Optimization
    and the Network Models, Artificial-variable Free LP Solution Algorithms,
    Tools for LP Modeling Validation, The Classical Simplex Method, Linear Algebra
    and LP Connections, From Linear to Nonlinear Optimization: The Missing Chapter,
    Construction of the Sensitivity Region for LP Models, Optimization with
    Sensitivity Analysis Resources
      </li><li>
    <b>Modeling and Simulation for Systems Analysis, Design and Control</b>,
    with System Simulation, , Modeling and Simulation Resources
      </li><li>
    <b>Statistical Concepts and Tools for Data Analysis</b>, with Questionnaire
    Design and Surveys Sampling, Topics in Statistical Data Analysis, Computational
    Statistics, Probability and Statistics Resources
      </li><li>
    <b>Online Courses</b>: Business Statistics, Decision Science/Management
    Science/Operations Research.
      </li><li>
    <b>Instructional and Training Resources</b>: Zero Sagas in Four Dimensions,
    Impact of the Internet on Learning &amp; Teaching
    </li></ul>
  </li><li>
    <a href="//resources.bmj.com/bmj/readers/statistics-at-square-one/">Statistics at Square One</a> -- An excellent
    online textbook. Contents:
    <ol>
      <li>
    Data display and summary
      </li><li>
    Mean and standard deviation
      </li><li>
    Populations and samples
      </li><li>
    Statements of probability and confidence intervals
      </li><li>
    Differences between means: type I and type II errors and power
      </li><li>
    Differences between percentages and paired alternatives
      </li><li>
    The t tests
      </li><li>
    The chi-squared tests
      </li><li>
    Exact probability test
      </li><li>
    Rank score tests
      </li><li>
    Correlation and regression
      </li><li>
    Survival analysis
      </li><li>
    Study design and choosing a statistical test
    </li></ol>
  </li><li>
    <a href="https://www.nist.gov/programs-projects/nistsematech-engineering-statistics-handbook">NIST/SEMATECH Engineering
    Statistics Handbook</a> -- an extensive web-based handbook of
    engineering-oriented statistical techniques. Closely integrated with
    <a href="//www.itl.nist.gov/div898/software/dataplot/">Dataplot</a>
    and other statistical software packages.
  </li><li>
    <a href="//nilesonline.com/stats/">Statistics Every Writer Should Know</a>
    -- an excellent introduction to statistical concepts, presented in a clear
    and non-intimidating way. Topics include: mean, median, percent changes,
    per capita and rates, standard deviation and normal distribution, margin
    of error, confidence intervals and sample sizes. Site includes a set of
    frequently asked questions, and a Statistics Bulletin board -- Post your
    question about statistics, or help someone else by posting an answer to his
    or her problem. Also links to its sister site:
    <a href="//nilesonline.com/data/">Finding Data on the Internet</a>
  </li><li>
    <a href="//www.psychstat.missouristate.edu/sbk00.htm">Introductory Statistics:
    Concepts, Models, and Applications</a>, and
    <a href="//www.psychstat.missouristate.edu/multibook/mlt00.htm">Multivariate
    Statistics: Concepts, Models, and Applications</a>, by David W. Stockburger
    (Southwest Missouri State University). In-depth coverage, with extensive
    use of web technology (animated graphics, interactive calculating pages).
  </li><li>
    <a href="http://www.e-booksdirectory.com/details.php?ebook=2917">The Knowledge Base
    -- An Online Research Methods Textbook</a>, by William M.K. Trochim (Cornell
    University). An online textbook for an introductory course in research methods.
  </li><li>
    <a href="https://physics.web.cern.ch/Physics/DataAnalysis/BriefBook/">The Data Analysis
    BriefBook</a> -- a condensed handbook, or an extended glossary, written in
    encyclopedic format, covering subjects in statistics, computing, analysis,
    and related fields; meant to be both introduction and reference for data
    analysts, scientists and engineers (from CERN)
  </li><li>
    <a href="https://www.uwb.edu/qsc/resources/refreshers/statistics">Stat Refresher Tutorial</a>
  </li><li>
    The
    <a href="//www.wrightslaw.com/advoc/articles/tests_measurements.html">statistics
    of performance measurement</a>, aimed at parents of children with special
    educational needs, but also worthwhile for anyone who wants a good introductory
    presentation of basic statistical concepts.
  </li><li>
    <a href="//ece.ut.ac.ir/classpages/F83/IPS/stat/text/labstat/Guide%20to%20Basic%20Laboratory%20Statistics.htm">Guide to Basic
    Laboratory Statistics</a> <font color="Red">(Java)</font>
  </li><li>
    <a href="//www.stat.ucla.edu/textbook/">Statistics: The Study of Stability
    in Variation</a>
  </li><li>
    <a href="//dss.princeton.edu/online_help/analysis/interpreting_regression.htm">Interpreting
    Regression Output</a> -- an in-depth guide (in MS Word) to understanding
    the many things that come out of a regression analysis.
  </li>
  <!-- <li>
  KWeiner - couldn't find new site
    <a href="//www.vgupta.com/products/index.htm">Basics of Logistic Estimation
    and Time Series Analysis</a> -- Two downloadable books, in MS Word format
  </li>
  -->
  <li>
    <a href="//www.dartmouth.edu/%7Echance/teaching_aids/books_articles/probability_book/pdf.html">Introduction
    to Probability</a>, by Grinstead and Snell (a complete book, in Adobe Acrobat
    and Postscript format, that can be downloaded all at once, or chapter by
    chapter)
  </li><li>
    <a href="//onlinelibrary.wiley.com/doi/10.1002/9781118793916.ch13/summary">Basic Principles of Statistical
    Analysis</a>
  </li><li>
    <a href="//www.seeingstatistics.com/">Seeing Statistics</a> by Gary
    McClelland -- an online textbook containing many animated (Java) demonstrations.
    A tour, and part of the complete book, is available free.
  </li><li>
    <a href="//www.anu.edu.au/nceph/surfstat/surfstat-home/surfstat.html">SurfStat
    Australia</a>
  </li><li>
    <a href="//www.bioestadistica.freeservers.com/">Bioestadística
    aplicada a Bioquímica y Farmacia</a> (Biostatistics for Biochemistry
    and Pharmacology) -- in Spanish! The Introduction and Table of Contents are
    on the web; each chapter links to an Adobe PDF document containing a faithful
    rendition of the printed chapter.</li><li><a href="//www.chegg.com/textbooks">Textbook rental</a> for the duration of a course can save you 80 to 90% of the cost of buying the textbook outright.</li></ul>
<h4>
  <a name="Specific"><!-- --></a><font color="Red">Books Related to Specific
  Software Packages:</font>
</h4>
<ul>

    <li>Some books on the <a href="//www.r-project.org/">R programming language</a> and environment for statistical computing and graphics
        <ul>
            <li>
                Introductory Statistics with R, Peter Dalgaard
            </li>
            <li>
                Modern Applied Statistics with S-plus, WN Venables and BD Ripley
            </li>
            <li>
                R Graphics, Poul Murrell
            </li>
            <li>
                Lattice (Multivariate DataVisualization with R), Deepayan Sarkar
            </li>
        </ul>
    </li>

  <li>
    <a href="//www.goodreads.com/author/list/716950.Vijay_Gupta">Vijay
    Gupta</a> has authored a number of excellent books, including SPSS for Beginners,
    Interpreting Regression Output, Comprehensive Excel, Excel for Beginners,
    Charting in Excel, Excel - Beyond the Basics, Managing &amp; Tabulating Data
    in Excel, Statistical Analysis with Excel, and Financial Analysis Using Excel.
    You can purchase and download these books
    <a href="//www.goodreads.com/author/list/716950.Vijay_Gupta">from his web
    site</a>, and you can download many sections of &nbsp;the individual books
    for free.
  </li><li>
    A <a href="//www.statprogramsplus.com">textbook on evaluation,
    statistics, and measurement</a>, developed by Bill Miller of Iowa State U,
    in conjunction with his free
    <a href="//www.statprogramsplus.com/">OpenStat</a> statistical
    package.&nbsp;The software and textbook are both available for free download
    from his web site.
  </li><li>
    <a href="//www.sjsu.edu/faculty/gerstman/EpiInfo">Data Analysis with
    Epi Info</a> -- an online textbook by Bud Gerstman. Describes analyses for
    continuous or binary outcomes; single group, paired samples, or two or more
    independent groups; one or more continuous predictors; stratified tables
    (with confounding and interaction); and much more.
  </li><li>
    <a href="//curvefit.com">Curvefit.com</a> -- a complete guide to nonlinear
    regression. Most of the information here is excerpted from <i>Analyzing Data
    with GraphPad Prism</i>, a book that accompanies the program <i>GraphPad
    Prism</i>. You can
    <a href="//curvefit.com/analyzing_data_book.htm">download this book</a>
    as a pdf file.
  </li><li>
    <a href="//www.graphpad.com/www/">Graphpad web site of statistical
    resources</a> -- short articles, book chapters, bibliographies, and (commercial)
    software. Well-written, down-to-earth, and helpful.
  </li><li>
    The <i><a href="//www.graphpad.com/guides/prism/7/statistics/index.htm?stat_the_essential_concepts_of_stat.htm">Instat Guide to Choosing
    and Interpreting Statistical Tests</a></i>, from
    <a href="//www.graphpad.com">Graphpad</a>.
  </li><li>
    <a href="//www.statsoft.com/textbook/stathome.html">Electronic Statistics
    Textbook</a> (by StatSoft) -- very extensive and well-organized (can also
    be downloaded for quicker access from your hard drive)
</li></ul>
<h4>
  <a name="Reference"><!-- --></a><font color="Red"><b>Reference Compendia
  and Glossaries:</b></font>
</h4>
<ul>
  <li>
    <a href="//www.nr.com">Numerical Recipes - The Art of Scientific
    Computing</a> (2<sup>nd</sup> ed.) -- the classic works by W.H. Press et
    al. -- a truly monumental collection of mathematical and statistical algorithms.
    The complete books are available free, in Postscript and Adobe Acrobat
    downloadable format, in three versions: C, Fortran 77, and Fortran 90 (parallel
    computing). If you prefer, you can buy the hardcover books from Amazon.com
    (click on one of the links below to go to their web site):
    <ul>
      <li>
    Buy
    <a href="//www.amazon.com/exec/obidos/ASIN/0521431085/interactivestati">Numerical
    Recipes in C : The Art of Scientific Programming</a>
      </li><li>
    Buy
    <a href="//www.amazon.com/exec/obidos/ASIN/0521437245/interactivestati">Numerical
    Recipes in C : Source Code for Recipes and Example Programs / Disk v2.02</a>
      </li><li>
    Buy
    <a href="//www.amazon.com/exec/obidos/ASIN/052143064X/interactivestati">Numerical
    Recipes in Fortran</a>
    </li></ul>
  </li><li>
    <a href="//www.convertit.com/Go/ConvertIt/Reference/AMS55.ASP?Res=200&amp;Page=0">Handbook
    of Mathematical Functions</a> -- the classic 1964 mega-compendium of tables,
    formulas, graphs and definitions, by Abramowitz and Stegun. Consists of scanned
    page images, so it's not the easiest to read, but everything is there!
  </li><li>
    <a href="//linkage.rockefeller.edu/wli/glossary/stat.html">Glossary
    of Statistics</a> (in particular, re-randomisation statistics)
  </li><li>
    <a href="//davidmlane.com/hyperstat/glossary.html">Glossary</a>,
    from HyperStat online textbook
  </li><li>
    <a href="//www.basic.northwestern.edu/statguidefiles/sg_glos.html">PROPHET StatGuide
    Glossary</a>, from Northwestern University
  </li><li>
    The <a href="https://physics.web.cern.ch/Physics/DataAnalysis/BriefBook/">Data Analysis
    BriefBook</a> -- a condensed handbook, or an extended glossary, written in
    encyclopedic format, covering subjects in statistics, computing, analysis,
    and related fields. An introduction and reference for data analysts, scientists
    and engineers.
  </li><li>
    <a href="//surfstat.anu.edu.au/surfstat-home/glossary/glossary.html">SurfStat
    Glossary</a>, from the Australian National University
  </li>

  <li>
    <a href="//www.cebm.net/glossary">Glossary of statistical terms
    used in evidence-based medicine</a>
  </li>

  <li>
    <a href="//www.animatedsoftware.com/statglos/statglos.htm">Glossary
    of over 30 statistical terms</a>; explanations vary from short definitions
    to extensive explanations, with graphics and hyperlinks
  </li>
  <li>
    A very impressive
    <a href="//www.geocities.com/%7Emikemclaughlin/math_stat/Dists/Compendium.html">Compendium
    of over 50 probability distribution functions</a>, giving the formula,
    expressions for the mean, SD, percentiles, higher moments, random variable
    generation procedures (if available), and insight into where that type of
    distribution function arises. In Adobe PDF format.
  </li><li>
    <a href="//www.1upinfo.com/">Online Encyclopedia</a> - Browse articles
    in all areas of topics within Earth &amp; Environment, History, Literature
    &amp; Arts, Health &amp; Medicine, People, Philosophy &amp; Religion, Places,
    Plants &amp; Animals, Science &amp; Technology, Social Science, Law, Sports,
    Everyday Life, and more.
</li></ul>
<h4>
  <a name="Journals"><!-- --></a><font color="Red"><b>Online
  Journals:</b></font>
</h4>
<ul>
  <li>
    <a href="http://www.amstat.org/publications/jse/">Journal of Statistics
    Education</a>, a refereed electronic journal on postsecondary teaching of
    statistics
  </li><li>
    <a href="//interstat.statjournals.net/">InterStat (Statistics on the
    Internet)</a> -- an online journal where one can publish or read about any
    aspect of statistical research or innovative method. Abstracts of articles
    are available for viewing; from there, you can read or download the article
    (or any comments written about it), in Portable Document Format (. pdf) or
    Postscript (.ps) format.
  </li><li>
    <a href="//www.jstatsoft.org">Journal of Statistical Software</a> --
    an electronic, peer-reviewed, free journal.
  </li><li>
    <a href="//www.jos.nu/">Journal of Official Statistics</a> -- published
    by the national statistical office of Sweden. Publishes articles on statistical
    methodology and theory, with an emphasis on applications. Free access to
    full-text articles in pdf format
</li></ul>
<h4>
  <a name="Comparison"><!-- --></a><font color="Red"> Automatic Comparison
  Shopping Service:</font>
</h4>
<p>
If you can't find a free book online that meets your needs, and you have
to actually <b>buy</b> one, then at least get the best price. Type the title
into the <a href="//BestBookBuys.com">BestBookBuys</a> page, and it
will compare several dozen online bookstores and rank them by price. 
  </p><hr>
  
<center>Please send all suggestions for new pages, notifications for dead links, and other requests in an e-mail to <a href="mailto:statpages.org@gmail.com">statpages.org@gmail.com</a><a href="mailto:statpages.org@gmail.com"></a>
</center>

</body></html>