<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title>John C. Pezzullo</title>
        <meta charset="utf-8" />
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <link rel="stylesheet" href="statpages.css">

    </head>

<body>
<div ng-app="myApp" ng-controller="customersCtrl">

<table align="center" bgcolor="#ddddff" border="solid black" cellpadding="5" cellspacing="0">
    <caption>
          <font color="#804000">Sections of the <i>StatPages.net</i> web site</font>
    </caption>
    <tr>
        <td  ng-repeat="x in names">
            <div ng-if="x.Tag != 'Pezzullo'">
                <a id="bar" href="{{ x.Link }}"> {{ x.Name }} </a>
            </div>
            <div ng-if="x.Tag == 'Pezzullo'" style="color: grey;">
                 {{ x.Name }}
            </div>
        </td>
    </tr>
</table>

</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function($scope, $http) {
        $http.get("choices.php")
        .then(function (response) {$scope.names = response.data.records;});
    });
</script>





<center>
<div style="padding: 22px">
<table style="border: 2px solid black; width: 100%">
  <tr>
    <td style="text-align: justify; color: red; font-size: 18px; font-weight: bold; padding:10px;">
        Dear Friends of StatPages.org<br>
        We are sorry to report that Dr. John C. Pezzullo passed away on Thursday June 2, 2016.
        It was John who created <i>StatPages.org</i> and <i>StatPages.info</i> to provide free statistics programs, instructional materials and a host of other valuable links for practitioners and users from a variety of backgrounds.
        John served as a biostatistician for a number of years and as a consultant to several universities and agencies.
        His research and publication speaks clearly of his genius in a variety of areas.  Click on this <a href="jcpcv.html">link</a> to see his impressive Curriculum Vita</a>.  John was particularly generous with his web sites.  He hosted pages for several people and has paid all expenses to maintain these sights.  As a friend and mentor, he will never be forgotten and live in our hearts forever.
        In John’s memory, we will endeavor to keep statpages.org an ongoing resource for the scientific community.
        We will continue to respond to site maintenance issues.<br>In the near term, we are planning to create a Bulletin Board  area where topics of interest can be explored. Please feel free to contact us at statpages.org@gmail.com<br>
        <font style="font-style: italic; color: black; font-size:initial">
        <i>Søren Merser, Bill Miller</i> and <i>Ken Weiner</i>
        </font>
    </td>
  </tr>
</table>
</div>
<p>


<h1>PLEASE BEWARE, THIS PAGE IS NOT UPDATED ANYMORE</h1>





<table align="center" border="1" cellpadding="2">









  <tbody>








    <tr>









      <td bgcolor="#ccccff">








      <p align="center"> <a href="#People">Web-Searching
Tools</a></p>









      </td>









      <td bgcolor="#ccffcc">








      <p align="center"> <a href="#New">What's
      <font color="Red"><b>(New)</b></font>
here</a></p>









      </td>









      <td bgcolor="#ffcccc">








      <p align="center"> <a href="#Class">Classy
Web Sites</a></p>









      </td>









    </tr>









    <tr>









      <td bgcolor="#ffffff">








      <p align="center"> <a href="#Travel">Travel
Stuff</a></p>









      </td>









      <td bgcolor="#ffccff">








      <p align="center"> <a href="#Publications">Publications</a>
&amp; <a href="#Reference">Reference Works</a></p>









      </td>









      <td bgcolor="#ccffff">








      <p align="center"> <a href="#Freebies">Freebies
!</a></p>









      </td>









    </tr>









    <tr>









      <td bgcolor="#ffcccc">








      <p align="center"> <a href="#Minute">Up-to-the-Minute
Info</a></p>









      </td>









      <td bgcolor="#ccffcc">








      <p align="center"> <a href="#Medicine">Medicine
and Health</a></p>









      </td>









      <td bgcolor="#ccccff">








      <p align="center"> <a href="#Stores">Online
Stores</a></p>









      </td>









    </tr>









    <tr>









      <td>








      <p align="center"> <a href="#Miscellaneous">Miscellaneous</a>









      <br>









      </td>









      <td>








      <p align="center"> <a href="#Entertainment">Entertainment
and Multimedia</a></p>









      </td>









      <td>







<!--
      <p align="center"> <a href="course/course.html">Stats
Course</a></p>
-->









      </td>









    </tr>


























  </tbody>
</table>









</center>









<p align="center">
</p>









<p>






<hr>
<h3> <font color="Red"><a name="People">Send
and receive faxes electronically...</a></font>
</h3>
<ul>
<li>
    with </span><a style="font-weight: bold;" href="http://www.maxemail.com/">MaxEmail</a>
-- You don't need a fax machine or phone line; instead you can use your
e-mail account or any web browser to send faxes from scanned images or
other documents you've created. You will also get a unique fax number
that others can send faxes to; these will be converted to PDF files and
e-mailed to you (or you can go to the MaxEmail web site to retrieve
them. You can view your incoming faxes on your computer, tablet, or
smart phone!
</li>
</ul>










<hr>
<h3> <font color="Red"><a name="People">Searching
the Web for People, Places and Things...</a></font>
</h3>









<ul>









    <li><a href="//Neuvoo.com">Neuvoo.com</a> -- a free <span style="font-weight: bold;">job search engine</span> that
indexes almost 3 million US jobs directly from companies' career
websites, placement agencies and job boards. Much like a "Google for
jobs", you can also search by company, job title, skills, and by city,
region, state, industry, etc., and find all relevant jobs.</li>


    <li><a href="//www.jobhero.com">Help on
    writing job applications</a>
    </li>

    <li> Make your way around the Web:








    <ul>









      <li> <a href="//www.yahoo.com">Table of
Contents (YAHOO)</a> </li>









      <li> Search for words appearing on a page: <a href="http://www.google.com">Google</a> </li>









      <li> <a href="http://www.google.com/imghp?hl=en&amp;tab=wi&amp;q=">Search
for graphic images on the web</a> </li>

















    </ul>









  </li>









  <li> <a href="http://www.reversephonedirectory.com/">Master
Directory</a> that lets you:








    <ul>









      <li> Find People by Phone Number and Lookup their Name and
Street Address, </li>









      <li> Lookup Street Addresses to Find People and Lookup
their Name and Telephone Number, </li>









      <li> Find People by Name and Lookup their Phone Number and
Street Address, </li>









      <li> Lookup Area Codes and Find Zip Codes for every City
and State, </li>









      <li> Find a Company Name and Search by Business Type. </li>

















    </ul>









  </li>









  <li> <a href="http://www.allpages.com">AllPages.com</a>
-- a <b>very</b> comprehensive and <b>very</b>
well-organized Yellow Pages / business directory. </li>









  <li> Look up the 9-digit <a href="http://www.usps.gov/ncsc">ZIP
code</a> for any street address in the U.S. </li>









</ul>









<p> </p>









<hr>
<h3> <font color="Red"> <a name="Travel">Travel
Stuff...</a></font>
</h3>









<ul>









  <li> Track the <a href="http://www.flytecomm.com">minute-by-minute
progress of a plane in flight</a> </li>









  <li> Get detailed street maps and point-to-point driving
instructions for any location in the US: <a href="http://www.mapsonus.com">Maps On Us</a> (one of
the best), <a href="http://www.infospace.com/home/redirs_all.htm?pgtarg=mapdir">Infospace</a>,
    <a href="http://www.mapquest.com">MapQuest</a>
and <a href="http://tiger.census.gov/cgi-bin/mapsurfer">Tiger
Map Server</a> (from the US Census Bureau). </li>









  <li> Make your own travel arrangements (best airfares, car
rentals, hotels) through <a href="http://www.travelocity.com">Travelocity</a>,
    <a href="http://www.travelweb.com">TravelWeb</a>,
    <a href="http://www.eztrip.com/">EZTrip</a>, or <a href="http://www.expedia.com">Expedia</a>, or the <a href="http://www.expedia.co.uk">United Kingdom Expedia
Website</a> - Hotels, Flights &amp; Car Hire </li>









  <li> <font color="Red"><b>(New)</b></font>
    <a href="http://www.AirNinja.com">AirNinja.com</a>
shows budget airlines that are not found on most booking engines (about
100 exist). Check several booking engines with only a few clicks.
Provides a more complete picture of available flight options.
AirNinja.com does not sell tickets; it provides information on where to
find the best flight. </li>









  <li> Find the best airfares with <a href="http://www.sidestep.com/">SideStep</a>, which
searches all of the usual travel websites, plus the airlines websites,
including special "Internet-only deals". </li>









  <li> <a href="http://www.terraserver.microsoft.com">TerraServer</a>
-- a massive collection of maps and satellite images </li>









  <li> Automatically <a href="//www.bablefishfx.com">translate
text between English, Spanish, Greek, Dutch, Italian, Portuguese, Bulgarian, Arabic, French, Japanese, Russian and more/a>
  </li>









</ul>









<p> </p>









<hr>
<h3> <font color="Red"><a name="Minute">Up-to-the-Minute
Info...</a></font>
</h3>









<ul>









  <li> The <a href="http://tycho.usno.navy.mil/what.html">Exact
Time</a> (from the US Naval Observatory) </li>









  <li> <a href="http://Listen.To/TheNews">Listen to
the news</a> from over 100 live broadcasts worldwide (requires <i>Real
Audio</i> browser plug-in, or equivalent) </li>









  <li> Current weather: <a href="http://www.weather.com">nationwide</a>
or <a href="http://www.aws.com">local</a> </li>









  <li> <a href="http://www.hollywood.com">What
movies are showing in your neighborhood, where, and when</a> </li>









  <li> Send (and track) a package via <a href="http://www.fedex.com/us/services/">FedEx</a>, <a href="http://track.airborne.com/TrackByNbr.asp">Airborne
Express</a>, <a href="http://www.ups.com">UPS</a>,
    <a href="http://www.usps.gov/cttgate/">U.S. Postal
Service</a> </li>









  <li> Track the <a href="http://www.flytecomm.com/cgi-bin/trackflight">progress
of a plane in flight</a> </li>









  <li> <a href="http://www.worldtime.com">View the
Earth</a> from any position, with day/night shading and country
borders. Also lists current times and national holidays. </li>









  <li> <a href="http://www.fourmilab.ch/earthview/vplanet.html">View
the Earth and/or Moon</a> from any position, at any
magnification, and any date/time (with current cloud cover, if you'd
like) </li>









</ul>









<p> </p>









<hr>
<h3> <font color="Red"><a name="Reference">Reference
Works...</a></font>
</h3>









<ul>









  <li> <a href="http://reference.allrefer.com/">Online
Encyclopedia</a> - Browse articles in all areas of topics within
Earth &amp; Environment, History, Literature &amp; Arts, Health
&amp; Medicine, People, Philosophy &amp; Religion, Places,
Plants &amp; Animals, Science &amp; Technology, Social Science,
Law, Sports, Everyday Life, and more. </li>









  <li> A single web page that matches almost any <a href="http://www.iTools.com/research-it/">desk reference</a>
you could buy </li>









  <li> Another great <a href="http://www.refdesk.com/main.html">Reference Desk</a>
page </li>









  <li> <a href="http://scitechdaily.com/">The <i>Science
and Technology</i> Daily Home Page</a> </li>









  <li> Online Encyclopedias:








    <ul>









      <li> <a href="http://encyclopedia.com/">Encyclopedia.com</a>
-- 17,000 short (1-paragraph) articles, with links to other (pay-for)
resources </li>









      <li> <a href="http://www.refdesk.com/myency.html">Virtual
Encyclopedia</a>, consisting of an enormous number of organized
links </li>









      <li> Microsoft's <a href="http://www.encarta.com">Encarta
encyclopedia</a> -- they'd like you to sign up for their better
(pay-for) version </li>

















    </ul>









  </li>









  <li> HyperDictionaries -- these pages search multiple
dictionaries for a word you type in:








    <ul>









      <li> <a href="http://www.onelook.com">This
one searches over 576 online dictionaries</a> </li>









      <li> <a href="http://www.yourdictionary.com/">This
one searches over 800 dictionaries in 150 different languages</a>
      </li>

















    </ul>









  </li>









  <li> Medical Dictionaries -- located in the <a href="#Medicine">Medicine and Health</a> section </li>










  <li><a href="http://tolweb.org">Tree of Life</a> -- &nbsp;a set of linked pages that let you navigate through practically all known living organisms</li>


  <li> Web pages that are <a href="http://www.martindalecenter.com/Calculators.html">actual
working calculators</a> (general-purpose and specialized) </li>









  <li> Various <a href="javastat.html">statistical
calculators</a>, and an <a href="http://davidmlane.com/hyperstat/index.html">Online
Statistics Textbook</a> </li>









</ul>









<p> </p>









<hr>
<h3> <font color="Red"><a name="Publications">Online
Publications...</a></font>
</h3>









<ul>









  <li> Newspapers:, <a href="http://www.nytimes.com">The
New York Times</a>, <a href="http://www.washingtonpost.com">The
Washington Post</a>, <a href="http://www.washtimes.com">The
Washington Times</a>, and <a href="http://www.usatoday.com">USA
Today</a> </li>
















  <li> Magazines: <a href="http://www.nationalgeographic.com/">National
Geographic</a>, <a href="http://www.sciam.com">Scientific
American</a>, <a href="http://www.csicop.org/si/">Skeptical
Inquirer</a> </li>









  <li> A list of over 100 <a href="http://www.ncbi.nlm.nih.gov/PubMed/fulltext.html">scientific/medical
Journals</a>, all of which let you view abstracts, and many of
which let you view and/or download the complete articles. </li>









  <li>








    <hr></li>









</ul>









<h3> <font color="Red"><a name="Medicine">Medicine
&amp; Health...</a></font>
</h3>




<ul>
    <li><a href="https://www.consumersafetyguide.com/"> Consumer Safety categories</a> A comprehensive resource for information about faulty medical devices, FDA alerts, and any other information about dangerous consumer products.
    </li>
</ul>




<ul>









  <li>Resources to help seniors maximize their wellness and live happy, healthy lives (thank you <a href="http://forfamilyhealth.net/">Angela Tollersons</a>) : <br>










    <ul>





    <li>
        <a href="//www.rxdangers.com"> Recent Information and Statistics on Defective Drugs & Medical Devices<a/>
    </li>


    <li>
        <a href="//rehabnet.com"> National Council on Seniors Drug & Alcohol Rehab</a>
    </li>


    <li>
        <a href="//www.alcoholtreatment.net "> Alcohol treatment net</a> an organization connecting people seeking treatment to the resources they need.
    </li>


    <li>
        <a href=" https://americanaddictioncenters.org/"> American Addiction Centers (AAC)</a> Up-to-date articles, reviewed by a medical team, with helpful information about addiction.
    </li>


    <li>
        <a href="//www.AddictionCenter.com"> AddictionCenter.com</a>connects individuals struggling with addiction to treatment options, as well as providing valuable information about substance dependence.
    </li>


    <li>
        <a href="//www.rehabcenter.net/"> Rehabcenter</a> A portal to a new, improved, drug-free life.

    </li>


    <li>
        <a href="//recallreport.org/health-information/conditions/"> Recall Report</a> is a leading consumer resource
        for information about health and safety recalls, including dangerous drugs and associated mental conditions as well as dedicated pages for <a href="//recallreport.org/health-information/conditions">Health Conditions</a>.
        Likewise, you'll find comprehensive and targeted health information for different demographics in our <a href="//recallreport.org/health-information">Health Info</a> section (i.e. students).
    </li>


    <li>
        <a href="//www.therecoveryvillage.com/heroin-addiction"> Heroin Addiction</a> Learn about the dangers of substance abuse and how to get help.
    </li>


    <li>
        <a href="//recallreport.org/health-information/conditions/">Recall Report</a> is the web’s leading resource for information about health and safety recalls, including dangerous drugs and associated mental conditions.
        With dedicated areas of our website for health conditions and we have more medical information than any other consumer recall website.
        Likewise, you can find very comprehensive and targeted health information for different demographics in our Health Info section <a href="//recallreport.org/health-information/">here</a> (i.e. students).
    </li>



    <li><a href="http://drugabuse.com/guides/substance-abuse-and-weight-change/">Substance Abuse and Weight Change</a>
-- a comprehensive evidence-based guide to the effects of drugs and
alcohon on weight gain or loss.</li>




      <li><a href="https://www.bloomu.edu/documents/hr/VRIP%20-%20Guide%20to%20a%20Happy%20Retirement.pdf">Guide to a Happy Retirement</a></li>










    </ul>










    <ul>





      <li><a href="//www.nationalcprassociation.com/education_article/telling-kids-terminally-ill/.">Talking To Your Kids About Your/Parent&#8217;s Terminal Illness</a></li>










    </ul>










    <ul>





      <li><a href="//www.care.com/senior-care-caregiver-guide-senior-health-issues-p1142.html">Caregiver Guide to Senior Health Issues</a></li>










    </ul>










    <ul>





    <li><a href="//quiethut.com/resources/healthy-food-for-healthy-kids/"> A Practical Guide to Healthy Food For Kids</a> -- gives parents guidance and
    practical tips about healthy eating for kids.
    </li>










    </ul>










    <ul>





      <li><a href="http://www.everydayhealth.com/news/most-common-health-concerns-seniors/">Most Common Health Concerns for Seniors</a></li>










    </ul>










    <ul>





      <li><a href="https://www.hometeamcare.com/blog/alzheimers/get-the-facts-on-alzheimers/">Get the Facts on Alzheimer's</a></li>










    </ul>










    <ul>





      <li><a href="http://nihseniorhealth.gov/talkingwithyourdoctor/askingquestions/01.html">What To Ask Your Doctor</a></li>










    </ul>





    <br>





  </li>





  <li><a href="http://drugabuse.com/guides/substance-abuse-and-weight-change/">Substance Abuse and Weight Change</a>
-- a comprehensive evidence-based guide to the effects of drugs and
alcohon on weight gain or loss. It addresses, in a <span style="font-weight: bold;">very</span> readable style,
the most common questions about how substance abuse affects metabolism;
the effects of alcohol on liver function, weight, maternal nutrition
and birth weight; ways to consume alcohol safely and maintain a healthy
weight; the&nbsp;effects of smoking and drug abuse on weight;
the&nbsp;dangers of mixing drugs; potential long-term effects of
substance abuse; and the importance of substance abuse treatment.
Contains specific information about depressants, opiates, heroin,
marijuana, stimulants, Ecstasy, cocaine, methamphetamine, and
hallucinogens. The page contains easily-understood charts and 27
supporting citations of landmark research and authority sources.</li>




  <li><a href="http://www.healthcarespanish.com/">HealthCareSpanish</a> -- a web site to help you learn common phrases and medical terms in Spanish.</li>









  <li> <a href="http://www.nlm.nih.gov/medlineplus/">MEDLINEplus
Health Information</a> -- One of the best sources of reliable
information on hundreds of topics</li>









  <li>Interactive <a href="http://www.healthline.com/human-body-maps">Human
Body Maps</a>, provided by <a href="http://www.Healthline.com">Healthline.com</a>,
let you explore the external and internal features (skin, skeleton,
muscles, and organs) of the human body (male and female), using your
mouse toselect specific parts of the body, and to rotate and magnify
the view, while reading detailed information about what you're looking
at. </li>









  <li> <a href="http://www.healthopedia.com/">Healthopedia</a>
-- a medical and health consumer information resource containing
comprehensive and unbiased information in patient-friendly language
from trusted sources on over 1,500 health topics, 70 focussed health
centers, and more than 11,000 drugs and medications. Major sections of
this web site include: News Center, Health Centers, Medical
Encyclopedia, Drugs &amp; Medications, Diseases &amp;
Conditions , Medical Symptoms, Medical Tests &amp; Exams, Surgery
&amp; Procedures , Injuries &amp; Wounds, Diet &amp;
Nutrition, Special Topics, and Pictures &amp; Images. </li>









  <li> <a href="http://www.imc.gsm.com/">The
Integrated Medical Curriculum</a> -- an impressive collection of
online books images, databases, and other resources aimed at medical
student </li>









  <li> Online Medical Dictionaries: <br>

















    <ul>









      <li><a href="http://www.nlm.nih.gov/medlineplus/mplusdictionary.html">Medline Plus Medical Dictionary</a>
-- Type any medical word or term (or the first few letters, followed by
an asterisk), and look up its definition (and pronunciation!)</li>









      <li> from <a href="http://www.MedicineNet.com/Script/Main/AlphaIdx.asp?li=MNI&amp;d=223&amp;cu=16583&amp;w=0&amp;p=A_DICT">MedicineNet</a>
-- another very extensive collection </li>

















    </ul>









  </li>









  <li> <a href="http://www.merck.com/pubs/mmanual/">The
Merck Manual of Diagnosis and Therapy</a>, and portions of <a href="http://www.merck.com/pubs/mmanual_home/content.htm">The
Merck Manual of Medical Information (Home Edition)</a> </li>









  <li> Large collections of health and medical information from <a href="http://www.medmatrix.org">MedMatrix</a>, <a href="http://www.healthtouch.com/level1/hi_toc.htm">Health<i>touch</i></a>,
and the <a href="http://www.mayohealth.org/">Mayo Clinic</a>
  </li>









  <li> Learn about health scams (including, unfortunately, some
"NIH-approved" nonsense) at <a href="http://www.quackwatch.com">QuackWatch</a>
  </li>









  <li> <a href="http://www.shapeup.org/">Shape Up
America</a> -- for info on healthy weight management</li>









  <li><a href="http://www.health.harvard.edu/newsletters/Harvard_Heart_Letter/2013/June/10-myths-about-heart-disease">10 Myths About Heart Disease</a> -- an
article from the Harvard Medical School</li>









  <li><a href="http://www.lakeviewhealth.com/InterventionGuide.pdf">Intervention Guide and Glossary for
Substance Abuse Rehabilitation</a>, from Lakeview Health Systems</li>









  <li>Various <a href="http://nihseniorhealth.gov/">Senior Health</a> topics, from the
National Institutes of Health</li>









  <li>an <a href="http://assistedlivingtoday.com/category/elder-care-glossary/">Elder Care Glossary</a>, from Assisted
Living Today</li>









  <li> Info on prescription and over-the-counter medications from
    <a href="http://www.rxlist.com/">RxList</a>, <a href="http://cp.gsm.com/">Clinical Pharmacology Online</a>,
    <a href="http://www.MedicineNet.com/Script/Main/AlphaIdx.asp?li=MNI&amp;d=223&amp;cu=16583&amp;w=0&amp;p=A_PHARM">MedicineNet</a>,</li>









  <li><a href="http://www.ehealthmedicare.com/about-medicare/glossary/A/">Medicare Glossary of Terms</a> --
hundreds of terms you'll encounter if you deal with Medicare</li>









  <li>&nbsp;<a href="http://www.healthadministration.org/resources/glossary-of-drugs/">Health Administration Glossary of Drugs</a>,
and <a href="http://www.mayohealth.org/usp/di/uspA-AM.htm">The
Mayo Clinic</a> </li>









  <li> Free MEDLINE searching of the medical literature:








    <ul>









      <li> From the National Library of Medicine: <a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi">Grateful
Med and PubMed</a> (MEDLINE, AIDSLINE, HealthSTAR, AIDSDRUGS,
AIDSTRIALS, DIRLINE, HISTLINE, HSRPROJ, OLDMEDLINE, and SIDILINE </li>









      <li> Other free MEDLINE searching (and other medical
information) from <a href="http://www.medscape.com">Medscape</a>
      </li>

















    </ul>









  </li>









</ul>









<p> </p>









<hr>
<h3> <font color="Red"><a name="Stores">Online
Stores...</a></font>
</h3>









<ul>












  <li> Jewelry: <a href="http://www.puzzleringemporium.com/">Puzzle Ring Emporium</a>, <a href="http://www.maxandchloe.com/">MaxAndChloe
Fashion Jewelry</a>, <a href="http://www.fortunoff.com">Fortunoff</a>,
    <a href="http://www.zales.com">Zales</a>, <a href="http://www.ross-simons.com">Ross-Simons Jewelry</a>,
    <a href="http://www.jewelrykind.com/">JewelryKind</a>,&nbsp;<a href="http://www.wal-mart.com">Wal-Mart</a>, <a href="http://www.jcpenney.com">J C Penney,</a>&nbsp;&nbsp;</li>






  <li>Toys: <a href="http://www.etoys.com">etoys</a>,
    <a href="http://www.fao.com">FAO Schwartz</a>, <a href="http://www.toysrus.com">Toys-R-Us</a>, <a href="http://www.wal-mart.com">Wal-Mart</a> </li>









  <li> Clothes: <a href="http://www.landsend.com">Lands
End</a>, <a href="http://www.eddiebauer.com">Eddie
Bauer</a>, <a href="http://www.gap.com">the GAP</a>,
    <a href="http://www.jcrew.com">J Crew</a> </li>









  <li> Food: <a href="http://www.balducci.com">Balducci</a>,
    <a href="http://www.cooking.com">Cooking.com</a>,
    <a href="http://www.dean-deluca.com">Dean-DeLuca</a>,
    <a href="http://www.friedas.com">Friedas</a>, <a href="http://www.gourmetfoodmall.com/">GourmetFoodMall</a>,&nbsp;
    <a href="http://www.igourmet.com">iGourmet</a> </li>









  <li> Electronics: <a href="http://www.buy.com">BuyCom</a>,
    <a href="http://www.cdw.com">Computer Discount
Warehouse</a> </li>









  <li> Computers, accessories, software: <a href="http://www.digiconcepts.com">DIGICONCEPTS</a>, <a href="http://www.pcwarehouse.com">PC Warehouse</a>, <a href="http://www.pcconnection.com">PC Connection</a>
or <a href="http://www.macconnection.com">Mac Connection</a>,
and <a href="http://www.pczone.com">PC Zone</a> or <a href="http://www.maczone.com">Mac Zone</a> </li>









  <li> Software: <a href="http://www.beyond.com">BeyondCom</a>,
    <a href="http://www.egghead.com/">Egghead</a> </li>









  <li> Tickets: <a href="http://www.ticketmaster.com">Ticket
Master</a>, <a href="http://www.culturefinder.com">Culture
Finder</a>, <a href="http://www.protix.com">ProTix</a>
  </li>









  <li> Books and Music: <a href="http://www.amazon.com">Amazon</a>,
    <a href="http://www.abebooks.com">Advanced Book
Exchange</a>, <a href="http://www.politics-prose.com">Politics-Prose</a>
  </li>









  <li> Arts and Crafts: <a href="http://www.moma.org">Museum
of Modern Art</a> </li>









  <li> Decorations: <a href="http://www.christmaspeople.com/">Christmas
People</a>, <a href="http://www.britestar.com">Brite
Star</a>, <a href="http://www.christmasdepot.com">Christmas
Depot</a> </li>









  <li> Other: <a href="http://www.sharperimage.com">Sharper
Image</a>, <a href="http://www.spencergifts.com">Spencer
Gifts</a>, <a href="http://www.silverwarehouse.com">SilverWarehouse</a>
  </li>









  <li> Auction: <a href="http://www.ebay.com">EBAY
-- the online auction center</a> -- bid on collectibles, toys,
computers, software, and more </li>









</ul>









<h3> <font color="Red">Automatic Comparison
Shopping...</font>
</h3>









<p>
These services automatically compare prices from lots of vendors, so
you
can easily find the best deal...
</p>









<ul>









  <li> <a href="http://BestBookBuys.com">BestBookBuys</a>
-- Compares several dozen online bookstores and ranks them by price,
for any book title you type in</li>


  <li><a href="http://finderscheapers.com/">FindersCheapers</a>
-- &nbsp;a very comprehensive comparison-shopping web site. &nbsp;It
includes one of the largest used, rental, new, and electronic textbook
price comparison websites in the United States. To search for books,
try <a href="http://finderscheapers.com/Search.aspx?3045=book">this link</a>.</li>









  <li> <a href="http://www3.addall.com/">AddAll</a>
-- Search and Compare among 40+ sites, 20,000 sellers, millions of
books! </li>









  <li> <a href="http://www.dealpilot.com/">DealPilot</a>
-- Compares 25 online bookstores (also compares delivery costs and
shipping time) </li>









  <li> <a href="http://www.buyingguide.com">BuyingGuide</a>
-- Computers, software, printers, and other peripherals </li>









  <li> <a href="http://www.comparenet.com">CompareNet</a>
-- Automobiles, appliances, electronics, home-office products, and
sports equipment (also side-by-side comparison of products and their
features) </li>









  <li> <a href="http://www.consumerworld.org">ConsumerWorld</a>
-- links to retailers and to other price comparison websites for
products and services </li>









  <li> <a href="http://www.jango.com">Jango</a>
-- Comparisons and reviews on cameras, computers, electronics, flowers,
food, games, movies, sports equipment, software, and home/garden
products </li>









  <li> <a href="http://www.quotesmith.com">Quotesmith</a>
-- Life Insurance, Annuity, and Medicare Supplementary policy quotes
(compares 300 companies) </li>









  <li> <a href="http://www.shopfind.com">ShopFind</a>
-- price listings (unranked) for a wide variety of items </li>









</ul>









<p>
Get the <b>real</b> price of a new car (dealer invoice
price) at the
<a href="http://www.kbb.com/">Kelly Blue Book</a>
website.
</p>









<p> </p>









<hr>
<h3> <font color="Red"><a name="Class">Some
Classy Web Sites...</a></font>
</h3>









<ul>









  <li> <a href="http://www.aldaily.com/">The <i>Arts
and Letters</i> Daily Home Page</a> (possibly the most
thought-provoking page on the entire Web!)<br>









and its scientific counterpart: <a href="http://scitechdaily.com/">The
    <i>Science and Technology</i> Daily Home Page</a>
  </li>










  <li><a href="http://www.barewalls.com/">Barewalls</a>
-- selling posters and prints online. Contains artwork from thousands
of famous photographers and painters from Ansel Adams to Vincent Van
Gogh (click <a href="http://www.barewalls.com/artists/">here</a> for a list of artists). Popular styles include Abstract art, Cubism, Impressionism, Pop Art, Renaissance, and more.
  </li>







  <li>
  <a href="//www.gograph.com/">Go Graph</a> Stock Photography offers over 25 million affordable royalty free stock photos, illustrations, vector clip art and royalty-free footage clips. The database contains images on a wide variety of topics and can be viewed for free or purchased for any project.
  </li>









  <li> <a href="http://www.fotosearch.com/">Foto
Search Image Library</a> -- 1,300,000
keyword-searchable&nbsp;images, including Art, photography,
clipart, illustrations, footage, and maps you can view free of charge.
It is the digital, online equivalent of a conventional art museum.
Browsing through the world-class photography and art library is free,
and there are no access charges, registration requirements, or usage
limits. </li>







  <li> The world's greatest <a href="http://sunsite.unc.edu/louvre/">Paintings</a> </li>
  <li> The complete works of <a href="http://shakespeare.mit.edu/">Shakespeare</a></li>









  <li> Classic <a href="http://ftp.sunet.se/pub/etext/wiretap-classic-library/">Works
of Literature</a> </li>









  <li> The <a href="http://www.gospelcom.net/bible">Bible</a></li>







  <li> The <a href="http://www.si.edu">Smithsonian
Institution</a> </li>









</ul>









<p> </p>









<hr>
<h3> <font color="Red"><a name="Freebies">Freebies
!</a></font>
</h3>









<p>
Almost all of the links on my home page point to websites that are
free,
but the links in this section are to things whose "freeness" is the
very
essence of the site...
</p>









<ul>



  <li> Free e-mail accounts, accessible world-wide via Internet
using any Web browser, from
    <a href="//backgroundchecks.org/">Background checks</a>,
    <a href="//www.hotmail.com">Hotmail</a>,
    <a href="//www.netaddress.usa.net/">NetAddress</a>,
and <a href="//www.whowhere.com">MailCity</a> </li>









  <li> <a href="http://www.forrealfree.com/">ForRealFree.com</a>
-- a master list of web sites with free stuff </li>









  <li> A <a href="http://www.visto.com">web-based
electronic briefcase</a>, accessible from anywhere you can get to
a browser. Contains a phone list, calendar, e-mail, and web bookmarks.
You can also upload copies of your own files (documents, spreadsheets,
etc.) so you can access them from anywhere. </li>









  <li> Free web site hosting, with a very easy way to build web
pages, from <a href="http://www.homestead.com">Homestead</a>
  </li>









  <li> A website consisting entirely of links to <a href="http://www.TotallyFreeStuff.com">Totally Free Stuff</a>,
conveniently organized by categories </li>









  <li>








    <p align="left"> Download free software (and get other
support) from <a href="http://www.softseek.com/">Softseek</a>,
    <a href="http://www.shareware.com">Shareware</a>,
    <a href="http://www.jumbo.com">Jumbo</a>, <a href="http://www.macworld.com">MacWorld</a>, <a href="http://www.hotfiles.com/">HotFiles</a>, <a href="http://www.pcworld.com/">PCWorld</a>, <a href="http://www.pcweek.com">PCWeek</a> or <a href="http://www.macweek.com/">MacWeek</a>) </p>









  </li>









  <li> Download free <a href="http://www.pueblo.gsa.gov">consumer
information pamphlets</a> from that place in Pueblo, CO </li>









</ul>









<p> </p>









<hr>
<h3> <a name="Entertainment">Entertainment and
Multimedia...</a>
</h3>









<ul>









  <li> <a href="http://members.aol.com/wmjbkr/ufos/ufoGame.html">A
great arcade-style game</a> (may not work with all browsers) </li>









  <li> Loads of <a href="http://www.geocities.com/ginis/">free
images (clip-art), graphics, sounds and movies</a> you can
download </li>









  <li> <a href="http://us.imdb.com/">Movie Database</a>,
with information and reviews for over 150,000 movies </li>









</ul>









<p> </p>









<hr>
<h3> <font color="Red"><a name="Miscellaneous"><b>Various
Miscellaneous Links...</b></a></font>
</h3>









<p>
Here are some links that just don't fit into any of the other
categories:
</p>









<ul>









  <li><a href="http://www.thetimenow.com/">TheTimeNow</a>
-- contains many time-related services: current local time in more than
a hundred thousand cities; local weather and forecast in most cities of
the world;&nbsp; an astronomy section with detailed information
about
the Solar System,&nbsp;planets,&nbsp;moons, stars, galaxies,
cosmology;
comprehensive local business directories with opening and closing times
in many countries; and many conversion tools (time difference between
two cities, an international meeting planner, a dialing codes helper,
air distance between two cities, a currency converter, and a currency
converter)..</li>









  <li> Find out the real stories behind common urban legends in
these <a href="http://www.urbanlegends.com/">Archives</a>
and <a href="http://www.snopes.com/">Reference Pages</a>
  </li>









  <li> <font color="Red"><b>(New)</b></font>
Create an atlas-style <a href="http://plasma.nationalgeographic.com/mapmachine/">map
of anywhere on earth</a>, using National Geographic's
computerized map-maker. </li>









  <li> See the state-by-state <a href="http://www.hamrick.com/names/">geographical
distribution of your last name</a> </li>









  <li> <a href="http://cgi.zdnet.com/slink?83102:18240225">Check
the speed of your Internet connection</a> </li>









</ul>









<p> </p>









<hr>
<center>Please send all suggestions for new pages, notifications for dead links, and other requests in an e-mail to <a href="mailto:statpages.org@gmail.com">statpages.org@gmail.com</a>
</center>









</body>
</html>
