<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>

        <title>Interactive Site Search</title>

        <meta content="text/html; charset=utf8" http-equiv="Content-Type">

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="tipuesearch/tipuesearch_set.js"></script>
        <script type="text/javascript" src="tipuesearch/tipuesearch.min.js"></script>
    
        <link rel="stylesheet" type="text/css" href="tipuesearch/tipuesearch.css">
        <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400|Merriweather:300,300italic" rel="stylesheet">
        <link rel="stylesheet" href="statpages.css">

    </head>


<body style="background-color: rgb(255, 255, 238); padding-top: 1%;">

<div ng-app="myApp" ng-controller="customersCtrl">

<table align="center" bgcolor="#ddddff" border="solid black" cellpadding="5" cellspacing="0">
    <caption>
          <font color="#804000">Sections of the <i>StatPages.net</i> web site</font>
    </caption>
    <tr>
        <td  ng-repeat="x in names">
            <div ng-if="x.Tag != 'Search'">
                <a id="bar" href="{{ x.Link }}"> {{ x.Name }} </a>
            </div>
            <div ng-if="x.Tag == 'Search'" style="color: grey;">
                 {{ x.Name }}
            </div>
        </td>
    </tr>
</table>

</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function($scope, $http) {
        $http.get("choices.php")
        .then(function (response) {$scope.names = response.data.records;});
    });
</script>

<center>
        <h2><font color="red">Site Search<br></font></h2>
        <i>The search result displays the StatPages section(s) where the search term was found. Click the section link and then use your browser to locate the term on that page (Windows: Ctrl-F, Mac: Cmd-F)</i>

        <div class="block" style="padding-top: 5%;">

        <form action="search.html">
        <input type="text" name="q" id="tipue_search_input" autocomplete="off" placeholder="Site Search" required>
        </form>

        <div id="tipue_search_content"></div>
        </div>

<hr><p>
Click <a href="GoogleSiteSearch.html"><i style="color:blue;">here</i></a> to run a Google Custom Search <i>(the search result may come with a few ads)</i>
</center>

        <script>
            $(document).ready(function() {
                 $('#tipue_search_input').tipuesearch({
                      'mode': 'live',
                      'descriptiveWords': 0,
                      'showURL': false
                 });
            });
        </script>

    </body>
</html>
